
/*字体样式
*/
.yjzh-list-fColor {
     color: #fff;
}
.yjzh-list-f18 {
     font-size: 18px;
}
.yjzh-list-f20 {
     font-size: 20px;
}
.yjzh-list-f22 {
     font-size: 22px;
}
/*面板表格样式*/
.table thead tr {
     color: #1b96c4;
}
.table tbody tr {
     width: 100%;
     height: 48px;
     line-height: 48px;
     color: #fff;
}
.table tbody tr:nth-child(odd) {
     background-color: #1b96c4;
}
.table tbody tr:hover {
     border: 1px solid #1b96c4;
}
.table tbody tr td {
     width: 100px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
/*溢出隐藏*/
.yjzh-list-w80 {
     width: 80px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
.yjzh-list-w100 {
     width: 100px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
.yjzh-list-w120 {
     width: 120px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}