/*.enterpriseCrisis_view{
    width: 1578px;
    height: 686px;
    background: url("../img/enterpriseCrisis_bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}*/
.coal-close_enterpriseCrisis_view{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 37px;
    cursor: pointer;
}
.enterpriseCrisis_view_information{
    width: 772px;
    padding-left: 16px;
}
/*.enterpriseCrisis_view_contView{
    display: flex;
    padding-top: 12px;
    padding-left: 16px;
}

.baidu_Corporate_portrait{
    width: 789px;
    height: 644px;
    display: none;
}*/
.cola-title_view{
    height: 52px;
    line-height: 70px;
    color: #76faff;
    font-size: 22px;
    padding-left: 54px;
    /*padding-left: 24px;*/
}
.coal_basic{
    width: 100%;
    display: flex;
}
/*.enterprise_basic_left{*/
/*width: 100%;*/
/*}*/
.enterprise_basic_left .col-enterprise_basic_left_title{
    font-size: 26px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
}
.enterprise_basic_left ul{

}
.enterprise_basic_left ul li{
    line-height: 34px;
    color: #fff;
}
.enterprise_basic_left ul li span{
    line-height: 20px;
    color: #fff;
}
.enterprise_basic_left ul li b{
    line-height: 20px;
    color: #fff;
}
.enterprise_basic_right{
    display: flex;
}
.enterprise_basic_right p:nth-of-type(1){
    color: #fff;
    height: 95px;
    line-height: 95px;
    margin-top: 30px;
}
.enterprise_basic_right .enterprise_basic_right_02{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_01.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
}
.enterprise_basic_right .enterprise_basic_right_03{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_02.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;

}
.enterprise_basic_right .enterprise_basic_right_04{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_03.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;

}
.enterprise_basic_right .enterprise_basic_right_05{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_04.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;

}
.enterprise_basic_right .enterprise_basic_right_06{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_05.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;

}
.enterprise_phone{

}
.enterprise_phone h3{
    height: 40px;
    line-height: 40px;
    background: url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 14px;
    padding-left: 12px;
}
.enterprise_phone_cont{
    display: flex;
}
.enterprise_phone_left{
    width: 354px;
    height: 85px;
    background: url("../img/cont_bg.png");
    background-size: 100% 100%;
}
.enterprise_phone_left p{
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
    color: #fff;
    padding-left: 24px;
}
.enterprise_phone_left p:nth-of-type(2){
    color: #3febff;
    font-size: 16px;
    margin-top: 10px;
}
.enterprise_phone_left p:nth-of-type(2) b{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/icon_phone.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
}
.enterprise_phone_right{
    width: 354px;
    height: 85px;
    background: url("../img/cont_bg.png");
    background-size: 100% 100%;
}
.enterprise_phone_right p{
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
    color: #fff;
    padding-left: 24px;
}
.enterprise_phone_right p:nth-of-type(2){
    color: #3febff;
    font-size: 16px;
    margin-top: 10px;
}
.enterprise_phone_right p:nth-of-type(2) b{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/icon_phone.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
}
.coal-enterprise_produce h3{
    height: 40px;
    line-height: 40px;
    background: url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 24px;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 5px;
    padding-left: 12px;
}
.coal-enterprise_produce h4{
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 22px;
}
.coal-enterprise_produce ul {
    width: 98%;
}


.coal-enterprise_produce ul li:nth-of-type(1) {
    border-top: 1px solid #0184a5;
}

.coal-enterprise_produce ul li {
    height: 40px;
    line-height: 40px;
    border: 1px solid #0184a5;
    display: flex;
    border-top: none;
    font-size:20px;
}
.coal-enterprise_produce ul li label {
    width: 100%;
    color: #00e4ff;
    padding-left: 10px;
    display: flex;
    font-size: 20px;
    line-height: 37px;
    line-height: 37px;
}
.coal-enterprise_produce ul li label:nth-of-type(2){
    border-left: 1px solid #0184a5;
}
.coal-enterprise_produce ul li label span {
    color: #fff;
    margin-left: 10px;
}
.coal-enterprise_produce .produce_list1{
    line-height: 34px;
    color: #fff;
    font-size: 20px;
}
.coal-enterprise_produce .produce_list2{
    height: 20px;
    line-height: 20px;
    color: #fff;
}
.coal-enterprise_produce .produce_list3{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-top: 16px;
}

.clearfloat:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfloat{
    zoom: 1;
}
.coal-main-message11 li{
    width: 50%;
    float: left;
    line-height: 34px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coal-enterprise_produce ul li label.RF_LITHOLOGYlabel{
    width: 100%;
}
.RF_LITHOLOGY{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 83%;
    vertical-align: middle;
}
.enterpriseCrisis_view_information #dangerQY-detail-container .bj-dangerousChemical-detaileContent {
    width: 100%;
    background:rgba(0,0,0,0);
}
.enterpriseCrisis_view_information #dangerQY-detail-container .bj-jywz-detaileTitle{
    background: rgba(0,0,0,0);
    left: -30px;
    top: -4px;
}
.enterpriseCrisis_view_information #dangerQY-detail-container .bj-jywz-detaileTitle span{
    height: 52px;
    line-height: 61px;
    color: #fda100;
    font-size: 22px;
    padding-left: 30px;
    font-weight: 700;
}
.coal-PROVED_OUTPUT_ovflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 74%;
    display: inline-block;
    vertical-align: bottom;
}
.detail-container-closes{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 36px;
    right: 28px;
    background: url(../img/msgclose.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

}
.bj-rescueForces-detailListLeft{

}
.bj-rescueForces-detailListLeft .first-items-list li{
    display: flex;
    /*margin-bottom: 10px;*/
}
.bj-rescueForces-detailListLeft .first-items-list li i{
    color: #04c5ed;
}
.bj-rescueForces-detailListLeft .first-items-list li .list_nowarp{
    color: #fff;
}
.enterprise_basic_right_01{
    background: #ff0000;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 26px;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
}
.enterprise_basic_right_02{
    background: #ff8400;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 26px;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
}
.enterprise_basic_right_03{
    background: #ffff00;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 26px;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
}
.enterprise_basic_right_04{
    background: #0000ff;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 26px;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
}
.enterprise_basic_right_05{
    background: #0bd0c9;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 26px;
    color: #fff;
    margin-top: -10px;
    margin-left: 10px;
}
.ul_nowarp li .ul_nowarp_li{
    display: flex;
}
.ul_nowarp li{
    display: flex;
}
.ul_nowarp li i{
    color: #04c5ed;
}
.ul_nowarp li b{
    color: #fff;
}
.ul_nowarp li:nth-of-type(3) span:nth-of-type(2){
    color: #04c5ed;
}
.ul_nowarp li:nth-of-type(5) span:nth-of-type(2){
    color: #04c5ed;
}
.addmsg_imgs_meikuang{

    width: 420px;
    height: 260px;
    margin-left: 35px;
    background: url("../img/rc_jingkou1.jpg") no-repeat;
    background-size: 100% 100%;
}

.addmsg_imgs_meikuang_01{
    width: 420px;
    height: 260px;
    margin-left: 35px;
    background: url("../img/rc_jingkou.jpg") no-repeat;
    background-size: 100% 100%;
}
.addmsg_imgs_meikuang_02{
    width: 420px;
    height: 260px;
    margin-left: 35px;
    background: url("../img/rc_jingkou1.jpg") no-repeat;
    background-size: 100% 100%;
}
.addmsg_imgs_meikuang_03{
    width: 420px;
    height: 260px;
    margin-left: 35px;
    background: url("../img/rc_yanwo.jpg") no-repeat;
    background-size: 100% 100%;
}
.addmsg_text_meikuang{
    width: 520px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin: 90px 0 0 35px;
}