.gis-pagination{
    width: 100%;
    font-size: 12px;
}
.gis-pagination::before, .gis-pagination::after {
    content: " ";
    display: block;
}
.gis-pagination::after {
    clear: both;
}
.gis-pagination__total{
    float: left;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    bottom: 2px;
}
.gis-pagination__box {
    list-style: none;
    margin-bottom: 0;
    float: none;
}
.gis-pagination__total >span {
    color: #ff6800;
    padding: 0 3px;
}
.gis-pagination__box >li {
    display: inline-block;
    font-family: Arial;
    color: rgba(0,0,0,.65);
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    min-width: 20px;
    height: 24px;
    line-height: 24px;
    margin-right: 3px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s;
    cursor: pointer;
    outline: 0;
}
.gis-pagination__box >li:hover,
.gis-pagination__box >li:focus {
    border-color: #108ee9;
    transition: all .3s;
}
.gis-pagination__box >li a{
    color: rgb(0,0,0);
    text-decoration: none;
    transition: none;
    margin: 0 4px;
}
.gis-pagination__box >li:hover a,
.gis-pagination__box >li:focus a {
    color: #108ee9;
}
.gis-pagination__box >li.gis-pagination-active {
    background-color: #108ee9;
    border-color: #108ee9;
}
.gis-pagination__box >li.gis-pagination-active a{
    color: #fff;
}
.gis-pagination__box >li.gis-pagination-disabled,
.gis-pagination__box >li.gis-pagination-disabled a {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
    border-color: #d9d9d9;
}

