/*
*/
.eMap-affixNav-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -540px;
    z-index: 1;
    width: 1080px;
    height: 130px;
    /*padding: 10px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.eMap-affixNav-box:after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 50px;
    left: 30px;
    right: 30px;
    opacity: .9;
    border-radius: 5px;
    transform: perspective(5em) rotateX(5deg);
    z-index: -1;
}

.eMap-affixNav {
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-left: 42px;
    margin-right: 35px;
    margin-top: 17px;
    padding-left: 0;
    list-style: none;
    color: #ffffff;

}

.eMap-affixNav a {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.eMap-affixNav > li {
    float: left;
    position: relative;
    width: 83px;
    height: 104px;
    text-align: center;
    font-size: 14px;
    transition: transform ease-in .3s;
}

.eMap-affixNav-tit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.eMap-affixNav > li.eMap-affixNav-cur .eMap-affixNav-bg {
    background-image: url("../imgs/emap/nav-cur.png");

}

.eMap-affixNav > li:hover .eMap-affixNav-bg,
.eMap-affixNav > li.eMap-affixNav-pitch .eMap-affixNav-bg {
    background-image: url("../imgs/emap/nav-hover.png");

}

.eMap-affixNav > li:hover .eMap-affixNav-bg,
.eMap-affixNav-pitch .eMap-affixNav-bg {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.eMap-affixNav-bg {
    display: inline-block;
    width: 98px;
    height: 104px;
    line-height: 104px;
    background: url("../imgs/emap/nav-bg.png") no-repeat center center;
    margin-top: -1px;
    margin-left: -8px;
}

.eMap-affixNav-bg > [class^='iconMap-'] {
    font-size: 30px;
    display: inline-block;
    vertical-align: -9px;

}

.eMap-affixNav-col1 {
    background-position: 0 0;
}

.eMap-affixNav-col2 {
    background-position: -98px 0;
}

.eMap-affixNav-col3 {
    background-position: -196px 0;
}

.eMap-affixNav-col4 {
    background-position: -294px 0;
}

.eMap-affixNav-col5 {
    background-position: -392px 0;
}

.eMap-affixNav-col6 {
    background-position: -490px 0;
}

.eMap-affixNav-col7 {
    background-position: -588px 0;
}

.eMap-affixNav-col8 {
    background-position: -686px 0;
}

.eMap-affixNav-col9 {
    background-position: -784px 0;
}

.eMap-affixNav-col10 {
    background-position: -882px 0;
}

.eMap-affixNav-col11 {
    background-position: -980px 0;
}

.eMap-affixNav-col12 {
    background-position: -1078px 0;
}
.eMap-affixNav-btn {
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    line-height: 24px;
    text-align: center;
}
.eMap-affixNav-btn>b{
	line-height: 24px;
}
.eMap-affixNav-btn-box a:nth-child(2) span b{
	margin-left: -2px;
}
.eMap-affixNav-btn-box a:nth-child(3) span b{
	margin-left: 2px;
}
.eMap-affixNav-btn-box {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
}

.eMap-affixNav-btn-box > a {
    display: inline-block;
    color: #fff;
}

.eMap-affixNav-extend {
    top: 36px;
    left: 3px;
}

.eMap-affixNav-left {
    top: 70px;
    left: 3px;
}

.eMap-affixNav-right {
    top: 65px;
    right: 3px;
}


/*二级导航*/
.eMap-affixNav-sub-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 120px;
    max-height: 195px;
    z-index: 3;
    background-color: transparent;
}

.eMap-affixNav-sub-box *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eMap-affixNav-sub-border{
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity:.9;
    background: -moz-linear-gradient(top, #a9c1e1, #09132a);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#a9c1e1), to(#09132a));
    background: -o-linear-gradient(top, #a9c1e1, #09132a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9c1e1', endColorstr='#09132a', GradientType=0);
    background: -ms-linear-gradient(top, #a9c1e1, #09132a);
}

.eMap-affixNav-sub-border:after,
.eMap-affixNav-sub-border:before{
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -4px;
    content: '';
    border: 8px solid transparent;
    border-top-color:#09132a;
}
.eMap-affixNav-sub-border:after{
    bottom: -14px;
    border-top-color:#2f3552;
}
.eMap-affixNav-sub{
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom:1px;
    opacity: .7;
    z-index: 2;
    border-radius: 4px;
}

.eMap-affixNav-sub-bg{
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    color: #666666;
    padding: 5px 8px;
    z-index: 3;
    margin: 6px;
    overflow: hidden;
}

.eMap-affixNav-sub-a-all,
.eMap-affixNav-sub-a-cur,
.eMap-affixNav-sub-a{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3px 3px 0 3px;
    padding: 2px ;
    font-size: 14px;
    display: inline-block;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
}
.eMap-affixNav-sub-a-all{
    background-color: #eeeeee;
}

.eMap-affixNav-sub-a-all:hover,
.eMap-affixNav-sub-a-cur,
.eMap-affixNav-sub-a:hover{
    border-color: #1997f5;
    background-color: #eaf4fc;
}
.eMap-affixNav-sub-a-cur{
    position: relative;
    background-color: #eaf4fc;

}
.eMap-affixNav-sub-a-cur:after{
    position: absolute;
    right: -7px;
    bottom: -3px;
    content: '';
    width: 16px;
    height: 16px;
    background: url("../imgs/emap/icon-02.png") right bottom no-repeat;
}
.eMap-affixNav-sub-img{
    float: left;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
.eMap-affixNav-sub-m{
    left: -40%;
    min-width: 144px;
}
.eMap-affixNav-sub-m a{
    margin-left: 0px;
}
.eMap-affixNav-sub-xl{
    min-width: 262px;
    left: -50%;
    margin-left: -63%;

}
.col2 a{
    float: left;
    width:47%;

}
.eMap-affixNav-sub-a-wid{
    display: inline-block;
    width: 70px;
    line-height: 1;
    vertical-align: middle;
    text-align: left;
}


.eMap-affixNav-sub-list{
    max-height: 150px;
    height: 150px;
}
.eMap-affixNav-sub-list>li{
    display: none;
}
.eMap-affixNav-sub-list .eMap-affixNav-sub-list-cur{
    display: inline-block;
}
/*弹出框中点点导航*/
.eMap-affixNav-sub-nav{
    height: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
}
.navDot >a{
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 6px;
    padding: 0;
}
.navDot >a:hover .eMap-affixNav-subDot{
    background-color: #999999;
}
.eMap-affixNav-subDot{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
}
.eMap-affixNav-subDot-cur{
    background-color: #999999;

}