.eMap-plot-size{
	width: 360px;
	height: 560px;
}
.eMap-plot-position{
	position: absolute;
	top: 145px;
	right: 84px;
}
/*左侧选项卡CSS样式 starts*/
.eMap-plot-box{
	position: absolute;
	width: 42px;
	height: 100%;
	background-color: #93a0d3;
}
.eMap-plot-ul{
	position: absolute;
	right: -6px;
	top: 0;
	width: 100%;
	list-style: none;
	margin-top: 3px;
}
.eMap-plot-btn{
	width: 36px;
    height: 80px;
    text-align: center;
    color: #464f76;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(207, 213, 233);
    border-radius: 5px 0px 0px 5px;
}
.eMap-plot-ul>li+li{
	margin-top: 4px;
}
.eMap-plot-ul>li:nth-child(2){
	height: 94px;
}
.eMap-plot-btn-cur{
	background-color: #fff;
}
.eMap-plot-tit{
	display: inline-block;
	width: 15px;
	line-height: 16px;
	margin-top: 7px;
}
/*左侧选项卡CSS样式 ends*/

.eMap-plot-cons{
	display: none;
	margin-left: 42px;
}
.eMap-plot-cons-cur{
	display: block;
}
/*常用标绘选项卡内容CSS starts*/

.eMap-plot-com-th{
	width: 100%;
	height: 36px;
	box-sizing: border-box;
}
/*常用标绘选项卡内容CSS ends*/
.eMap-plot-com-th{
	height: 36px;
	width: 100%;
	line-height: 36px;
	font-size: 14px;
	color: #333333;
	background-color: #eeeeee;
}
.eMap-plot-com-th input{
	vertical-align: -2px;
	margin-left: 12px;
}
.btn-plot-size{
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	transition: none;
}
.eMap-plotPic-ul{
	list-style: none;
	font-size: 0;
	margin-top: 3px;
	margin-left: 16px;
}
.eMap-plotborder{
	position: relative;
	float: left;
	width: 62px;
	height: 78px;
	font-size: 12px;
	text-align: center;
	color: #666666;
	margin-right: 8px;
	margin-top: 13px;
	border: 1px solid transparent;
}
.icon-txt{
	display: block;
	width: 100%;
	position: absolute;
	bottom: 11px;
}
.eMap-mt1{
	margin-top: 20px;
}
.eMap-mt2{
	margin-top: 12px;
}
.eMap-plotborder:hover,.eMap-plotPic-ul>.eMap-plotborder-cur{
	color: #1997f5;
	border:1px solid  #1997f5;
}


/*常用标绘CSS样式结束*/

/*管理标绘CSS样式开始*/
.eMap-plot-m {
    width: 100%;
}
.eMap-plot-m-tit{
	height: 36px;
    line-height: 36px;
	font-size: 14px;
	color: #333333;
	padding-left: 15px;
	background-color: #e3ebfc;
}
.eMap-plot-m-tit [class^='iconMap-']{
	transition: transform  0.4s ease-out;
}
.eMap-plot-m>.eMap-plot-m-tit:hover{
	background-color: #e3ebfc;
}
.eMap-plot-m-tit:hover [class^='iconMap-']{
	transform: rotate(90deg);
}
.eMap-plot-m>p:last-of-type{
	margin-top: 3px;
}
.eMap-plot-m-tit-cur{
	background-color: #f6f6f6;
}
.eMap-plot-list-b{
	margin-bottom: 18px;
}
.eMap-plot-m-tit [class^='iconMap-']{
	font-size: 18px;
	color: #7d93c6;
	vertical-align: middle;
}
.eMap-plot-mf{
	float: right;
	margin-right: 12px;
	margin-top: 9px;
}
/*点击"管理标绘"进去后默认出现的列表样式开始*/
.plot-list-cur{
	/*display: none;*/
}
.eMap-plot-info{
	width: 100%;
	max-height: 400px;
	overflow-y: scroll;
}
.eMap-plot-info-ul{
	width: 275px;
	margin: 0 auto;
	list-style: none;
}
.eMap-plot-info-ul>li:first-of-type{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #333333;
}
.eMap-plot-info-ul>li+li:hover{
	color:#2ca0f7;
	background-color: #f0f1fc;
}
.eMap-plot-info-item{
	height: 39px;
	line-height: 39px;
	font-size: 12px;
	color: #747373;
	border-bottom: 1px solid #dddddd;
}
.eMap-plot-item-ba{
	float: right;
	color: #333333;
}

.eMap-plot-item-ml{
	display: inline-block;
	width: 160px;
	margin-left: 8px;
}




/*点击"管理标绘"进去后默认出现的列表样式结束*/
.ph{
	display: none;
}

.eMap-plot-list{
  /*  margin-left: 18px;*/
    /*margin-right: 5px;*/
   /* padding-right: 13px;*/

}
.eMap-plot-list-h{
    max-height:420px;
    overflow-y: scroll;
}
.eMap-plot-list-p{
	max-height: 430px;
	overflow-y: scroll;
}
.eMap-plot-list-pi{
	max-height: 350px;
    overflow-y: scroll;
}
.eMap-plot-list{
	margin-left: 10px;
   /* margin-right: 5px;*/
    padding-right: 5px;
}
.eMap-plot-list-item{
    border: 1px solid transparent;
    border-bottom-color: #dddddd;
    padding: 11px 10px;
    line-height: 1;
    font-size: 14px;
    color: #767676;
    vertical-align: middle;
}
.eMap-plot-item{
	padding: 0;
	font-size: 12px;
	color: #747373;
	height: 38px;
	line-height: 38px;
}
.eMap-plot-list-item-icon{
    display: inline-block;
    font-size: 16px;
    line-height: 14px;
    vertical-align: -2px;
    margin-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/*.eMap-plot-list-item-pic{
	display: none;
}*/
.eMap-list-box-inp-blank{
	margin:10px 10px;
}
.eMap-list-box-inp{
	width: 272px;
    height: 27px;
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.eMap-list-box-inp>input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 7px;
	width: 240px;
	border: none;
	color: #999999;
	font-size: 14px;
}

.eMap-icon-p{
	font-size: 18px;
}
.eMap-icon-p [class^='iconMap-']{
	vertical-align: -2px;
}
.eMap-plot-list-item-pic a{
	color: #2499ee;
	font-size: 15px;
	margin-left: 2px;
	vertical-align: -2px;
}
.eMap-plot-list-p ul .eMap-plot-list-item .eMap-plot-inp{
	border: 1px solid #209efa;
}
.eMap-plot-list-item input[type='text']{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    display: inline-block;
    max-width:163px;
    height: 30px;
    padding-left: 3px;
    line-height: 30px;
    color: #747373;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: default;
}
.eMap-plot-list-item input[type='text']:hover,
.eMap-plot-list-item input[type='text']:focus{
    cursor: default;
}
.eMap-plot-list-pi>ul .eMap-plot-item .eMap-plot-inp {
	border: 1px solid #209efa;
	cursor: auto;
}

.eMap-plot-list-item-opation{
    display: none;
    float: right;
    margin-right: 9px;
}
.eMap-plot-list-item-opation>a{
    display: inline-block;
    font-size: 14px;
    color: #2499ee;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: -3px;
}
.eMap-plot-list-item-opation>a:hover{
    color: #097cd1;
}
.eMap-plot-list-item:hover,
.eMap-plot-list-item-cur{
    background-color: #f0f1fc;
}
.eMap-plot-list-item-cur input[type='text']{
    cursor: text;
}
.eMap-plot-list-item:hover .eMap-plot-list-item-opation,
.eMap-plot-list-item-cur .eMap-plot-list-item-opation{
    display: inline-block;
}

.eMap-plot-list-sort .eMap-plot-list-item{
    border-style:dashed;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
}
.eMap-plot-list-sort .eMap-plot-list-item-cur{
    position: relative;
    cursor: pointer;
}
.eMap-plot-list-sort .eMap-plot-list-item-cur:before{
    position: absolute;
    content: '';
    margin-left: -10px;
    margin-top: -14px;
    margin-bottom: -14px;
    height: 46px;
    border-left: 7px solid #537de7;
}

.eMap-plot-list-sort .eMap-plot-list-item:hover .eMap-plot-list-item-opation,
.eMap-plot-list-sort .eMap-plot-list-item-opation{
    display: none;
}

.eMap-plot-item .eMap-plot-pic-ph{
	display: none;
}

.eMap-plot-pagePostion{
	left: 40px;
}