/*/*
*2016-12-21  lixy
��湤����
*/

.eMap-toolbox-nav-item{
    font-size: 14px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: -1px;
    color: #333333;
}
.eMap-toolbox-nav-item:last-child{
    border-bottom: 0;
}
.eMap-toolbox-nav-tit{
    display: block;
    padding: 10px 5px;
    color: inherit;
    vertical-align: middle;
}

.eMap-toolbox-nav-tit [class^='iconMap-']{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #666666;
}
.eMap-toolbox-nav-item .eMap-toolbox-nav-tit-cur [class^='iconMap-']{
    transform: rotate(90deg);
}
.eMap-toolbox-nav-tit:hover{
    color: #333333;
}
.eMap-toolbox-nav-tit [class^='iconMap-']{
	transition: transform  0.4s ease-out;
}
/*.eMap-plot-com-ul>li:hover .eMap-toolbox-nav-tit [class^='iconMap-']{
	transform: rotate(90deg);
}*/
.eMap-toolbox-con-item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    border-top: 1px solid #ccc;
    height: 163px;
    max-height: 163px;
    overflow-y: auto;
    padding-bottom: 10px;
}
.eMap-toolbox-nav-item-cur .eMap-toolbox-con-item{
    display: block;
}


/*���ͼƬ*/
.file-warp{
    position: relative;
}
.file-sub{
    position: absolute;
}
.file-self{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
}
.toolbox-onlyAdd{
    width: 90px;
    height: 80px;
    margin-bottom: 10px;

}
.toolbox-add-btn{
    top:0;
    left: 0;
    width: 100%;
    height:56px;
    line-height:56px;
    font-size: 22px;
    text-align: center;
    background-color: #ececec;
    color: #cbcbcb;
}
.toolbox-add-txt{
    bottom: 0;
    color: #333;
    height: 22px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}


/*��湤����ͼƬ�б�*/
.toolbox-picList{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 306px;
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;
}
.toolbox-picList-item{
    float: left;
    width: 90px;
    margin-right: 8px;
}
.toolbox-picList-pic{
    position:relative;
    width:90px;
}


.toolbox-picList-item-img{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

.toolbox-picList-option{
    display: none;
    position: absolute;
    text-align: right;
    bottom: 4px;
    width: 100%;
    background-color:rgba(0,0,0,.5)
}
.toolbox-picList-option [class^='iconMap']{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.toolbox-picList-item:hover .toolbox-picList-item-img,
.toolbox-picList-item-cur .toolbox-picList-item-img{
    border: 2px solid #1997f5;
}
.toolbox-picList-item:hover .toolbox-picList-option,
.toolbox-picList-item-cur .toolbox-picList-option{
    display: block;
}

.toolbox-txt{
    width: 90px;
}
.toolbox-txt [type='text']{
    border: 1px solid transparent;
    cursor:default;
}
.toolbox-txt [type='text']:hover,
.toolbox-txt [type='text']:focus{

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.toolbox-txt .txt-edit,
.toolbox-picList-item:hover .toolbox-txt{
    color: #1f9efb;
}
.toolbox-txt .txt-edit{
    border: 1px solid #1f9efb;
}

/*��������*/
.toolbox-win-size{
    width: 320px;
    height: 200px;
}
.toolbox-win-size-position{
    position: absolute;
    left: 352px;
    top: 10px;
}
.toolbox-winSave-size-position{
    position: absolute;
    right:450px;
    top: 500px;
}
.toolbox-winPlot-size{
    width: 320px;
    height: 225px;
}

/*标绘工具箱中，还*/
.eMap-plotborder-ipt{
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -5px;
}
.eMap-plotborder-cur .eMap-plotborder-ipt{
    border-color: red;
}