/*
*2016-12-22  lixy
地图上的伸缩面板
*/
.eMap-extend-nav,.eMap-extend-nav *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eMap-extend-nav{
    position: absolute;
    left: 0;
    top: 85px;
    width: 34px;
}
.eMap-extend-nav-item{
    
}

/*面板的大小*/
.eMap-extend-size{
    width:360px;
   /* min-height:850px;*/
}
.eMap-extend-btnShrink{
    display: inline-block;
    transform: rotate(180deg);
    color: #fff;
}
.eMap-extend-btnShrink:hover{
    transform: rotate(0deg);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.eMap-extend-panle-nav{
    background-color: #464f76 ;
}
.eMap-extend-panle-nav-item [class^='iconMap-']{
    width: 16px;
	font-size: 18px;
	vertical-align: middle;
    display: inline-block;
   /* color: inherit;*/
    vertical-align: -3px;
    padding-left: 2px;
}
.eMap-extend-panle-nav-close{
    color: inherit;
}
.eMap-extend-panle-nav-close:hover{
    color: #3769cf;
}
.eMap-extend-panle-nav-item:hover,
.eMap-extend-panle-nav-item-cur{
    background-color:#ffffff
}
.eMap-extend-panle-nav-more{
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
    transform: rotate(180deg);
}

.eMap-extend-panle-body{
	display: none;
}
.eMap-extend-panle-body-cur{
	display: block;
}
/*面板上小箭头点击显示出来的导航内容*/
.eMap-extend-navHide{
    display: none;
    background: #fff;
    position: absolute;
    top: 28px;
    right: 0;
    width:140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    -moz-box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    padding: 2px;
    z-index: 5;
}
.eMap-extend-navHide:before,
.eMap-extend-navHide:after{
    position: absolute;
    z-index: -1;
    content: '';
    right:14px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(-45deg);
}
.eMap-extend-navHide:before{
    top: -5px;
    -webkit-box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
    -moz-box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
    box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
}
.eMap-extend-navHide:after{
    top: -3px;
}
.eMap-extend-navHide-item{
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #333333;
}
.eMap-extend-navHide-item:hover,
.eMap-extend-navHide-item-cur{
    background-color: #eaf4fc;
}
.eMap-extend-navHide-item+.eMap-extend-navHide-item{
    margin-top: 2px;
}
.eMap-extend-panle-blank{
    margin: 20px 20px 0 20px;
}
/*全图及胶囊按钮组*/
.eMap-extend-city{
    vertical-align: middle;
    line-height: 26px;

}
.eMap-extend-city-btnGroup{
    float: right;
}
.eMap-extend-city-con{
    background-color: #eaf4fc;
    margin-top: 10px;
    padding: 8px 4px 6px 14px;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;

}
/*左边面板中各个内容的上间距*/
.eMap-extend-mt15{
    margin-top: 15px;
}
.eMap-extend-mt10{
    margin-top: 10px;

}

/*自定义select  */
.eMap-select-box{

    width: 100%;
    position: relative;
    z-index: 3;
}
.eMap-select-nav{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.eMap-select-nav .btn{
    width: 50%;
    border-radius: 1px;
}
.eMap-select-nav .btn-little-cur{
    border-bottom-color: #fff;
}
.btn-little-cur-checkbox{
    display: none;
    vertical-align: middle;
    margin-top: -2px;
}
.btn-little-cur .btn-little-cur-checkbox{
    display: inline-block;
}
.eMap-select-nav .btn-little-cur:first-child{
    border-bottom-left-radius: 0;
}
.eMap-select-nav .text-default{
    color: #666;
}
.eMap-checkbox-fl{
    float: left;
    margin-top:7px;
}
.icon-fr{
    float: right;
    margin-top: 7px;
}


/*只有一个选项时*/
.eMap-select-nav-only .btn{
    width: 100%;
}

.eMap-select-list{
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #ccc;
    margin-top: -2px;
    border-top: 0 ;
    margin-right: 1px;
    padding-top: 5px;
    color: #333333;
}
.eMap-select-list>li{
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
}
.eMap-select-list>li+li{
    border-top: 1px solid #eeeeee;
}
.eMap-select-list>li.eMap-select-list-cur,
.eMap-select-list>li:hover{
    background-color: #eaf4fc;
}
.eMap-select-list .label{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eMap-checkbox{
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
}

/*列表中的文本宽度*/
.eMap-list-panel-size1{
   /* max-height: 420px;*/
   /* position: absolute;
    left: 20px;
    right: 20px;
    bottom: 50px;
    top:275px;*/
    overflow-y: scroll;
}
.eMap-list-panel-size-xl{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 50px;
    top:105px;
    overflow-y: scroll;
}
.eMap-list-item{
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px #f8f8f8;
    -moz-box-shadow: 0 1px 1px #f8f8f8;
    box-shadow: 0 1px 1px #f8f8f8;
    padding: 13px 8px 10px 5px;
    color: #666666;
    cursor: pointer;
    line-height: 20px;
}
.eMap-list-item-icon{
    float: left;
    width: 30px;
    height: 50px;
    line-height: 42px;
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
}
.eMap-txt-width{
    width: 90px;
    display: inline-block;
}
.eMap-list-item:hover,
.eMap-list-item-cur{
    background-color: #eaf4fc;
}

/*行政区划中的单选按钮部分*/
.eMap-extend-form{
    line-height: 1;
    font-size: 14px;
    padding-left: 25px;
}
.eMap-extend-form>label{

    display: inline-block;
    width: 60px;
}

/*缓冲查询的查询条件部分*/
.box-default{
    display: inline-block;
    border: 1px solid #cccccc;
}
.box-default+.box-default{
    margin-left: 5px;
}

.link-block{
    color: #333;
    text-align: center;
    border-radius:0 ;
    border-width: 2px;
    border-color: transparent;
    padding-left: 7px;
    padding-right: 7px;
    min-width: 40px;
}
.link-block-cur,
.link-block:hover{
    border-color:#1997f5 ;
}
.link-block+.link-block{
    margin-left: -6px;
}
.eMap-form-inline{
    margin-bottom: 10px;
    margin-top: 0;
    zoom: 1;
    vertical-align: middle;
    line-height: 2;
}
.eMap-form-inline:after{
    content: '';
    display: block;
    height: 100%;
    clear: both;
    visibility: hidden;
}
.eMap-form-tit{
    font-size: 14px;
    line-height: 2;
    float: left;
    display: inline-block;
    width: 76px;
    text-align: right;
    padding: 0;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: red;
}
.eMap-form-con{
    border: 1px solid transparent;
    font-size: 14px;
    margin-left: 76px;
    border: 1px solid transparent;
    background: green
}

.imgMap-plot{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    background: url("../img/emap/plot.png") no-repeat 50% 50%;
}

.imgMap-plot-dot{
    background-position:0 4px ;
}
.imgMap-plot-pickUp{
    background-position:-30px 4px ;

}
.imgMap-plot-line{
    background-position:-60px 4px ;

}
.imgMap-plot-LL{
    background-position:-90px 4px ;

}
.bg-default{
    background-color:#eeeeee;
}
.bg-info{
    background-color:#f6f6f6
}
.imgMap-plot-blank{
    padding-top: 3px;
    padding-bottom: 3px;
}

/*面板中的select选项样式*/
.eMap-select-item{
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 5px;
}
.eMap-select-item+.eMap-select-item{
    border-top: 1px solid #ccc;
}

.eMap-select-item-tit{
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
}

.eMap-select-item-tit-status{
    display: inline-block;
    margin-right: 5px;
    margin-left: 3px;
    width:14px;
    height: 14px;
    line-height: 1;
    vertical-align: -2px;
    background-image: url("../img/emap/reckbox-bg.png");
    background-repeat:  no-repeat;
    cursor: pointer;
}
.eMap-select-item-tit-status-empty{
    background-position: 0 0;
}
.eMap-select-item-tit-status-half{
    background-position: -14px 0;
}
.eMap-select-item-tit-status-all{
    background-position: -28px 0;
}


.eMap-select-item-con{
    margin-left: 22px;
    margin-right: 10px;
    font-size: 12px;
}
.eMap-select-link a{
    display: inline-block;
    width: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.eMap-select-link a.selected,
.eMap-select-link a:hover{
    color: #209efa;
    border-color: #1997f5;
}

.eMap-icon-size{
    font-size: 20px;
    vertical-align: -4px;
}