
.eMap-dialog {
    z-index: 10;
    position: absolute;
    left: 620px;
    top: 218px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 360px;
    height: 390px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.eMap-title {
    width: 100%;
    height: 33px;
    line-height: 33px;
    color: #fff;
}

.eMap-title p {
    margin-left: 11px;
}

.eMap-title p [class^='iconMap-'] {
    font-size: 16px;
    vertical-align: middle;

}

.eMap-fl {
    float: right;
    margin-right: 10px;
    margin-top: 9px;
}

.eMap-dialog-con {
    margin: 0 auto;
    width: 356px;
    height: 355px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.eMap-dialog-tab {
    width: 100%;
    height: 31px;
    background-color: #f2f4f7;
    border-bottom: 1px solid #d7d7d7;
}

.eMap-tab-ul {
    width: 100%;
    list-style: none;
    font-size: 0;
}

.eMap-tab-ul > li {
    display: inline-block;
    width: 90px;
    height: 30px;
    color: #333333;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.eMap-tab-ul .eMap-tab-cur {
    color: #1997f5;
    background-color: #cce8ff;
    border-bottom: 2px solid #1997f5;
}

.eMap-tab-content-box {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.eMap-detail-nearyby-btn {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

.tab-content {
    display: none;
    min-width: 326px;
    width:100%;
    height: 323px;
}

.tab-content-cur {
    display: block;
}

/*---------基本信息CSS样式 starts here---------*/
.basic-info-ul {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px auto auto 8px;
    width: auto;
    height: auto;
    padding-top: 6px;
    list-style: none;
    border-bottom: 0px solid #cccccc;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.basic-info-ul > li {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
}

.basic-info-title {
    color: #333333;
    font-weight: bold;
}

.basic-info-tel {
    color: #54b501;
}

.basic-info-ul [class^='iconMap-'] {
    font-size: 20px;
    vertical-align: -3px;
}

.text-info {
    width: 324px;
    display: inline-block;
}

.text-info b:first-of-type {
    margin-left: 7px;
    color: #54b501;
}

.text-info b:last-of-type {
    color: #1997f5;
}

.btn-group {
    margin: 0 auto;
    width: 100px;
    margin-top: 10px;
}

.eMap-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    background-color: rgb(25, 151, 245);
}

.eMap-btn [class^='iconMap-'] {
    font-size: 16px;
    vertical-align: -1px;
}

/*---------基本信息样式 ends---------*/
/*---------文档CSS样式 starts here---------*/

.tab-panel {
    width: 326px;
}

.tab-con-ul {
    width: 341px;
    height: 323px;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.tab-con-ul [class^='iconMap-'] {
    font-size: 20px;
    color: #1997f5;
    vertical-align: -4px;
    margin-right: 9px;
}

.tab-con-ul > li .tab-con-f {
    vertical-align: 13px;
}

.tab-con-tit {
    display: inline-block;
    width: 205px;
}

.tab-con-ul > li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 2px;
    padding-right: 5px;
    width: 326px;
    height: 46px;
    line-height: 46px;
    color: #666666;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}

.tab-con-ul > li:hover {
    background-color: #f0f1fc
}

.tab-infoTittle {
    display: inline-block;
    width: 190px;
}

.tab-con-a {
    float: right;
}

.tab-con-a b:last-of-type {
    margin-right: 0;
    margin-left: -5px;
}

/*---------文档CSS样式  ends---------*/
/*---------图片CSS样式  starts here---------*/

.eMap-pic-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    font-size: 0;
    margin-top: 0;
    margin-left: 0;
}

.eMap-pic-list > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 98px;
    margin-right: 9px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.eMap-pic-list > li:hover img,
.eMap-pic-list > li:active img,
.eMap-pic-list li .tab-pic-cur {
    border: 2px solid #1997f5;
    border-radius: 2px;
}

.eMap-pic-list > li > img {
    display: block;
    width: 100%;
    border: 2px solid transparent;
}

.eMap-pic-list > li:hover,
.eMap-pic-list > .item-cur {
    color: #1997f5;
}

.tab-pic-title {
    display: block;
    width: 100%;
    line-height: 22px;
}

/*地图上的详情页图片列表*/
.tab-pic-ul {

    width: 338px;
    height: 323px;
    padding-bottom: 13px;
    overflow-y: auto;
    padding-top: 13px;
    margin-left: 18px;
}

/*---------图片CSS样式  ends---------*/
/*大图片弹窗CSS样式*/
.dialog-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    z-index: 12;
}

.dialog-bigPic {
    position: absolute;
    top: 175px;
    left: 351px;
    z-index: 20;
    width: 1074px;
    height: 606px;
}

.dialog-bigPic-title {
    width: 100%;
    height: 55px;
    font-size: 24px;
    line-height: 55px;
}

.bigPic-title {
    text-align: center;
    display: inline-block;
    width: 899px;
    margin-left: 88px;
}

.dialog-bigPic-title [class^='iconMap-'] {
    font-size: 45px;
    color: #fff;
    cursor: pointer;
}

.bigPic-box {
    margin: 0 auto;
    width: 899px;
    height: 550px;
}

.bigPic-box > img {
    display: block;
    width: 100%;
    height: 100%;
}

.pull-arrows {
    position: relative;
    top: -50%;
    left: -10px;
    margin-top: -30px;
}

.pull-arrows > a {
    color: #fff;
    font-size: 50px;
}

.pull-arrows > a:last-of-type {
    margin-right: -10px;
}

/********/
/*.text-hidden{*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*}*/
.gis-window {
    z-index: 33;
    position: relative;
    border: 1px solid #02e8fd;
    background-color: rgba(18, 50, 110, .9);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 35px rgba(26, 217, 242, .8), 0 1px 4px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    width: 320px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #d8fcff;
}

.gis-window:before,
.gis-window:after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #156b9d;
    margin-left: -8px;
}

.gis-window:before {
    bottom: -16px;
    border-top-color: #02e8fd;
}

.gis-window-con {
    margin-top: 0;
    margin-bottom: 0;
}

.gis-window-con-hd {
    margin: 12px 20px 10px;
    padding-bottom: 10px;
}

.gis-window-con-img {
    float: left;
    width: 80px;
    height: 66px;
    margin-right: 15px;
}

.gis-window-con-img > img {
    display: block;
    width: 100%;
}

.gis-window-con-tit {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 14px;
    color: #333;
}

.gis-window-con-hd > p {
    font-size: 12px;
    line-height: 1;
}

/**预警信息的描述**/
.gis-window-con-description {
    font-weight: normal;
    /*max-height: 50px;*/
    /*overflow-y: auto;*/
    /*min-height: 30px;*/
    /*font-weight: normal;*/
    /*line-height: 14px;*/
}

.gis-window-con-bd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 12px;
    text-align: justify;
    height: 70px;
    max-height: 70px;
    overflow-y: auto;
}

