/*
*2016-12-14  lixy
*控制页面布局的样式
*不建议修改这里面的样式，这部分样式只控制布局，该文中的样式类名，请勿挪做它用。
*/
body {
    margin: 0;
}
ul,li{
    margin: 0;
    padding-left: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
.bg-map{
	min-width: 1600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-image: url(../imgs/bg-map.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-attachment: fixed;
}
.eMap-header * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eMap-header {
    width: 100%;
    mix-width: 1600px;
    height: 70px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .9);
    box-shadow: 0 0 5px rgba(0, 0, 0, .9);
}

.eMap-header-bg,
.eMap-affixNav-box:after {
    background: #454d74; /* 一些不支持背景渐变的浏览器 */
    background: -moz-linear-gradient(top, #464f77, #2f3652);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#464f77), to(#2f3652));
    background: -o-linear-gradient(top, #464f77, #2f3652);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464f77', endColorstr='#2f3652', GradientType=0);
    background: -ms-linear-gradient(top, #464f77, #042946);
}

.eMap-logo {
    float: left;
    padding: 12px 0 12px 26px;
    font-size: 0;
    cursor: pointer;
}

.eMap-logo > a {
    display: block;
    /*background: url("../imgs/emap/TS-EMap-logo.png") no-repeat left center;*/
    width: 341px;
    height: 46px;
    padding-top: 15px;
}

.eMap-main {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

}

/*导航缩略图*/
.eMap-affixNav-lessen {
    position: fixed;
    z-index: 2;
    /*bottom: 50px;*/
    bottom: 76px;
    left: 15px;
    width: 65px;
    height: 65px;
}

.eMap-affixNav-lessen > a {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
/*修改background*/
.eMap-affixNav-lessen-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    /*background: url("../imgs/emap/nav-lessen.png") no-repeat center center;*/
}

/*图比例尺*/
.eMap-legend-box {
    position: fixed;
    bottom: 20px;
    left: 15px;
    width: 300px;

    color: #000;
    font-size: 14px;
    line-height: 2;
}

.eMap-legend {
    position: relative;
    display: inline-block;
    width: 80px;
    text-align: center;
    color: inherit;
    margin-right: 20px;
}

.eMap-legend:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-bottom: 3px solid #0d223b;
    border-left: 2px solid #0d223b;
    border-right: 2px solid #0d223b;
    left: 0;
    bottom: 0;

}

.eMap-legend-txt {
    text-align: center;
    display: inline-block;
    color: inherit;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, .9);
    /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5) ;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5) ;*/
}


/*地图的缩略图*/
.eMap-thumbnail {
    position: fixed;
    right: 15px;
    bottom: 20px;
}

.eMap-thumbnail-eye {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #1693eb;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.eMap-thumbnail-map {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
    right: 48px;
    bottom: 0px;
    width: 180px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #999999;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.eMap-buttery-hatch{
	width: 100%;
	height: 100%;
	background-image: url(../imgs/small-map.png);
}

/*放大缩小的加减号start*/
.eMap-btn-default {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.eMap-btn-zoom-position {
    position: fixed;
    right: 20px;
    bottom: 240px;
    height: 100px;
    width: 30px;
    height: 60px;
}

.eMap-btn-zoom {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #646464;
}

.eMap-btn-zoom:hover{
 color: #3769cf;
}

.eMap-btn-zoom + .eMap-btn-zoom {
    border-top: 1px solid #d7d7d7;
}

/*关联城市*/
/*.eMap-city-box {*/
    /*position: relative;*/
    /*z-index: 3;*/
    /*top: 0;*/
    /*left: 0;*/
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*font-size: 12px;*/
/*}*/

.eMap-city-cur {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right:5px;
    width: 90px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #414141;
    cursor: pointer;
}
.eMap-city-cur [class^="iconMap-"]{

    padding-left: 5px;
    color: #6e6e6e;
}
.eMap-city-con{
    position: absolute;
    top: 45px;
    border: 1px solid #d4d1d2;
    left: 0;
    width:285px;
    height:400px;
    background-color: #fff;
    -webkit-box-shadow: inset -1px 1px 1px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1) ;
    -moz-box-shadow: inset -1px 1px 1px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: inset -1px 1px 1px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
}
.eMap-city-hd{
    color: #484848;
    padding: 8px 5px;
}
.eMap-city-bd{
    border-top: 1px solid #dddddd;
}

.eMap-city a{

    line-height: 18px;
    padding-left: 3px;
    margin-right:10px;
}

.eMap-city-sel{
    margin: 8px 5px;
    overflow: hidden;
}

.eMap-city-sel-def{
    line-height: 1;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 5px;
    margin-right: 5px;

    border-bottom: 1px solid #d2d2d2;
}
.eMap-city-sel-def>span{
    padding-right: 10px;
    padding-left: 10px;
}
.eMap-city-sel-def>a{
    border-bottom: 1px solid #416fd0;
}
.eMap-city-sel-def>a:hover{
    border-bottom-color: #fff;
}
.eMap-city-sel-hot{
padding: 16px 5px;
}
.eMap-city-sel-hot>a:first-child{
    font-weight: bold;
}
.eMap-city-sel-hot>a{
    display: inline-block;
    margin-right: 5px;
}
.eMap-city-search{
    height: 24px;
    padding: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
}
.sel-city-btnGroup{
    float: left;
}

.sel-city-btn{
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    padding:5px 10px;
    line-height:1;
    outline: none;
    background: -moz-linear-gradient(top, #fff, #f2f2f2);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background: -o-linear-gradient(top, #fff, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2', GradientType=0);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);
    text-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow:inset 0 0 1px rgba(0,0,0,.2);
    box-shadow: inset 0 0 1px rgba(0,0,0,.2);
    cursor: pointer;
    font-size: 12px;
    color: #424242;
}
.sel-city-btn-sel,
.sel-city-btn:focus,
.sel-city-btn:hover{
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
    box-shadow: inset 0 0 8px rgba(0,0,0,.3);
    color: #000;
}
.sel-city-btnl{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sel-city-btnr{
    margin-left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.eMap-city-search form{
    position: relative;
    float: right;
    margin-right: 5px;

}
.city-search-ipt{
    border: 1px solid #ccc;

    float: left;
    height: 24px;
    line-height: 24px;
    text-indent: 4px;
    color: #000;
    margin-right: 5px;

}
.city-search-ipt:hover,
.city-search-ipt:focus{
    outline: none;
    -webkit-box-shadow:  0 0 2px rgba(48,97,203,.5);
    -moz-box-shadow:  0 0 2px rgba(48,97,203,.5);
    box-shadow:  0 0 2px rgba(48,97,203,.5);
}


.eMap-city-letterList{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #d1d1d1;
}

.eMap-city-letterList a{
    font-weight: bold;
}
.eMap-city-placeList{

    overflow-y: auto;
    position: relative;
    width: 280px;
    height:135px;
    overflow:auto;
    padding-right:5px;


}
.eMap-city-place{
    padding-left:5px;
    padding-right:  0px;
}
.eMap-city-place-tit{
    float: left;
    height: 100%;
}
.eMap-city-place-tit b{
    vertical-align: middle;
}
.eMap-city-place-con {
    margin-left:60px;
    padding-right: 2px;
}
.eMap-city-place-letter{
    font-size: 24px;
    padding-right: 3px;
    color: #cccccc;
}
.eMap-city-close{
    cursor: pointer;
    float: right;
    color: #898a8c;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,SimSun,sans-serif;
    line-height: 20px;
    margin-top: -1px;
    font-size: 18px;
}
.eMap-city-close:hover{
    color:#3769cf;
}