/***合并部分css  :  eMapdetails.css/commons.css/eMap-extend.css/eMap-plotting.css/self-defined-search.css**/
/**eMapdetails.css 开始**/

.eMap-dialog {
    z-index: 10;
    position: absolute;
    left: 620px;
    top: 218px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 360px;
    height: 390px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.eMap-title {
    width: 100%;
    height: 33px;
    line-height: 33px;
    color: #fff;
}

.eMap-title p {
    margin-left: 11px;
}

.eMap-title p [class^='iconMap-'] {
    font-size: 16px;
    vertical-align: middle;

}

.eMap-fl {
    float: right;
    margin-right: 10px;
    margin-top: 9px;
}

.eMap-dialog-con {
    margin: 0 auto;
    width: 356px;
    height: 355px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.eMap-dialog-tab {
    width: 100%;
    height: 31px;
    background-color: #f2f4f7;
    border-bottom: 1px solid #d7d7d7;
}

.eMap-tab-ul {
    width: 100%;
    list-style: none;
    font-size: 0;
}

.eMap-tab-ul > li {
    display: inline-block;
    width: 90px;
    height: 30px;
    color: #333333;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.eMap-tab-ul .eMap-tab-cur {
    color: #1997f5;
    background-color: #cce8ff;
    border-bottom: 2px solid #1997f5;
}

.eMap-tab-content-box {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.eMap-detail-nearyby-btn {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

.tab-content {
    display: none;
    min-width: 320px;
    width:100%;
    height: 323px;
}

.tab-content-cur {
    display: block;
}

/*---------基本信息CSS样式 starts here---------*/
.basic-info-ul {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px auto auto 8px;
    width: auto;
    height: auto;
    padding-top: 6px;
    list-style: none;
    border-bottom: 0px solid #cccccc;
    /*max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;*/
}

.basic-info-ul > li {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
}
.basic-info-ul > li.expert_header_img{
    position: absolute;
    top: 0px;
    right: 5px;
}
.basic-info-ul > li.expert_header_img img{
    width: 65px;
    height: 65px;
}
.basic-info-title {
    color: #333333;
    font-weight: bold;
}

.basic-info-tel {
    color: #54b501;
}

.basic-info-ul [class^='iconMap-'] {
    font-size: 20px;
    vertical-align: -3px;
}

.text-info {
    width: 324px;
    display: inline-block;
}

.text-info b:first-of-type {
    margin-left: 7px;
    color: #54b501;
}

.text-info b:last-of-type {
    color: #1997f5;
}

.btn-group {
    margin: 0 auto;
    width: 100px;
    margin-top: 10px;
}

.eMap-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    background-color: rgb(25, 151, 245);
}

.eMap-btn [class^='iconMap-'] {
    font-size: 16px;
    vertical-align: -1px;
}

/*---------基本信息样式 ends---------*/
/*---------文档CSS样式 starts here---------*/

.tab-panel {
    width: 326px;
}

.tab-con-ul {
    width: 341px;
    height: 323px;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.tab-con-ul [class^='iconMap-'] {
    font-size: 20px;
    color: #1997f5;
    vertical-align: -4px;
    margin-right: 9px;
}

.tab-con-ul > li .tab-con-f {
    vertical-align: 13px;
}

.tab-con-tit {
    display: inline-block;
    width: 205px;
}

.tab-con-ul > li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 2px;
    padding-right: 5px;
    width: 326px;
    height: 46px;
    line-height: 46px;
    color: #666666;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
}

.tab-con-ul > li:hover {
    background-color: #f0f1fc
}

.tab-infoTittle {
    display: inline-block;
    width: 190px;
}

.tab-con-a {
    float: right;
}

.tab-con-a b:last-of-type {
    margin-right: 0;
    margin-left: -5px;
}

/*---------文档CSS样式  ends---------*/
/*---------图片CSS样式  starts here---------*/

.eMap-pic-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    font-size: 0;
    margin-top: 0;
    margin-left: 0;
}

.eMap-pic-list > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 98px;
    margin-right: 9px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.eMap-pic-list > li:hover img,
.eMap-pic-list > li:active img,
.eMap-pic-list li .tab-pic-cur {
    border: 2px solid #1997f5;
    border-radius: 2px;
}

.eMap-pic-list > li > img {
    display: block;
    width: 100%;
    border: 2px solid transparent;
}

.eMap-pic-list > li:hover,
.eMap-pic-list > .item-cur {
    color: #1997f5;
}

.tab-pic-title {
    display: block;
    width: 100%;
    line-height: 22px;
}

/*地图上的详情页图片列表*/
.tab-pic-ul {

    width: 338px;
    height: 323px;
    padding-bottom: 13px;
    overflow-y: auto;
    padding-top: 13px;
    margin-left: 18px;
}

/*---------图片CSS样式  ends---------*/
/*大图片弹窗CSS样式*/
.dialog-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    z-index: 12;
}

.dialog-bigPic {
    position: absolute;
    top: 175px;
    left: 351px;
    z-index: 20;
    width: 1074px;
    height: 606px;
}

.dialog-bigPic-title {
    width: 100%;
    height: 55px;
    font-size: 24px;
    line-height: 55px;
}

.bigPic-title {
    text-align: center;
    display: inline-block;
    width: 899px;
    margin-left: 88px;
}

.dialog-bigPic-title [class^='iconMap-'] {
    font-size: 45px;
    color: #fff;
    cursor: pointer;
}

.bigPic-box {
    margin: 0 auto;
    width: 899px;
    height: 550px;
}

.bigPic-box > img {
    display: block;
    width: 100%;
    height: 100%;
}

.pull-arrows {
    position: relative;
    top: -50%;
    left: -10px;
    margin-top: -30px;
}

.pull-arrows > a {
    color: #fff;
    font-size: 50px;
}

.pull-arrows > a:last-of-type {
    margin-right: -10px;
}

/********/
/*.text-hidden{*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*}*/
.gis-window {
    z-index: 33;
    position: relative;
    border: 1px solid #02e8fd;
    background-color: rgba(18, 50, 110, .9);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 35px rgba(26, 217, 242, .8), 0 1px 4px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    width: 320px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #d8fcff;
}

.gis-window:before,
.gis-window:after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #156b9d;
    margin-left: -8px;
}

.gis-window:before {
    bottom: -16px;
    border-top-color: #02e8fd;
}

.gis-window-con {
    margin-top: 0;
    margin-bottom: 0;
}

.gis-window-con-hd {
    margin: 12px 20px 10px;
    padding-bottom: 10px;
}

.gis-window-con-img {
    float: left;
    width: 80px;
    height: 66px;
    margin-right: 15px;
}

.gis-window-con-img > img {
    display: block;
    width: 100%;
}

.gis-window-con-tit {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 14px;
    color: #333;
}

.gis-window-con-hd > p {
    font-size: 12px;
    line-height: 1;
}

/**预警信息的描述**/
.gis-window-con-description {
    font-weight: normal;
    /*max-height: 50px;*/
    /*overflow-y: auto;*/
    /*min-height: 30px;*/
    /*font-weight: normal;*/
    /*line-height: 14px;*/
}

.gis-window-con-bd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 12px;
    text-align: justify;
    height: 70px;
    max-height: 70px;
    overflow-y: auto;
}


/**eMapdetails.css 结束**/

/**commons.css 开始**/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html, body {
    margin: 0;
    height: 100%;
    font-family: 'microsoft YaHei';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #8e8e8e;
}

::-webkit-input-placeholder {
    color: #8e8e8e;
}


/**commons.css 结束**/
/**eMap-extend.css 开始**/
/*
*2016-12-22  lixy
地图上的伸缩面板
*/
.eMap-extend-nav,.eMap-extend-nav *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eMap-extend-nav{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 34px;
    cursor: pointer;
}
.eMap-extend-nav-item{

}

/*面板的大小*/
.eMap-extend-size{
    width:360px;
    /* min-height:850px;*/
}
.eMap-extend-btnShrink{
    display: inline-block;
    transform: rotate(180deg);
    color: #fff;
}
.eMap-extend-btnShrink:hover{
    transform: rotate(0deg);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.eMap-extend-panle-nav{
    background-color: #464f76 ;
}
.eMap-extend-panle-nav-item [class^='iconMap-']{
    width: 16px;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    /* color: inherit;*/
    vertical-align: -3px;
    padding-left: 2px;
}
.eMap-extend-panle-nav-close{
    color: inherit;
}
.eMap-extend-panle-nav-close:hover{
    color: #3769cf;
}
.eMap-extend-panle-nav-item:hover,
.eMap-extend-panle-nav-item-cur{
    background-color:#ffffff
}
.eMap-extend-panle-nav-more{
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
    transform: rotate(180deg);
}

.eMap-extend-panle-body{
    display: none;
}
.eMap-extend-panle-body-cur{
    display: block;
}
/*面板上小箭头点击显示出来的导航内容*/
.eMap-extend-navHide{
    display: none;
    background: #fff;
    position: absolute;
    top: 28px;
    right: 0;
    width:140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    -moz-box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    box-shadow:  0 0 5px rgba(0, 0, 0, .5) ;
    padding: 2px;
    z-index: 5;
}
.eMap-extend-navHide:before,
.eMap-extend-navHide:after{
    position: absolute;
    z-index: -1;
    content: '';
    right:14px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(-45deg);
}
.eMap-extend-navHide:before{
    top: -5px;
    -webkit-box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
    -moz-box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
    box-shadow:  0 -1px 2px rgba(0, 0, 0, .5) ;
}
.eMap-extend-navHide:after{
    top: -3px;
}
.eMap-extend-navHide-item{
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #333333;
}
.eMap-extend-navHide-item:hover,
.eMap-extend-navHide-item-cur{
    background-color: #eaf4fc;
}
.eMap-extend-navHide-item+.eMap-extend-navHide-item{
    margin-top: 2px;
}
.eMap-extend-panle-blank{
    margin: 0px 2px;
}
/*全图及胶囊按钮组*/
.eMap-extend-city{
    vertical-align: middle;
    line-height: 26px;

}
.eMap-extend-city-btnGroup{
    width: 90%;
    text-align: right;
    margin-top: 10px;
}
.eMap-extend-city-con{
    background-color: #eaf4fc;
    margin-top: 10px;
    padding: 8px 4px 6px 14px;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;

}
/*左边面板中各个内容的上间距*/
.eMap-extend-mt15{
    margin-top: 15px;
}
.eMap-extend-mt10{
    margin-top: 10px;

}

/*自定义select  */
.eMap-select-box{

    width: 100%;
    position: relative;
    z-index: 3;
}
.eMap-select-nav{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.eMap-select-nav .btn{
    width: 50%;
    border-radius: 1px;
}
.eMap-select-nav .btn-little-cur{
    border-bottom-color: #fff;
}
.btn-little-cur-checkbox{
    display: none;
    vertical-align: middle;
    margin-top: -2px;
}
.btn-little-cur .btn-little-cur-checkbox{
    display: inline-block;
}
.eMap-select-nav .btn-little-cur:first-child{
    border-bottom-left-radius: 0;
}
.eMap-select-nav .text-default{
    color: #666;
}
.eMap-checkbox-fl{
    float: left;
    margin-top:7px;
}
.icon-fr{
    float: right;
    margin-top: 7px;
}

.eMap-select-nav-only .btn{
    width: 100%;
}

.eMap-select-list{
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #ccc;
    margin-top: -2px;
    border-top: 0 ;
    margin-right: 1px;
    padding-top: 5px;
    color: #333333;
}
.eMap-select-list>li{
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
}
.eMap-select-list>li+li{
    border-top: 1px solid #eeeeee;
}
.eMap-select-list>li.eMap-select-list-cur,
.eMap-select-list>li:hover{
    background-color: #eaf4fc;
}
.eMap-select-list .label{
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eMap-checkbox{
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
}

/*列表中的文本宽度*/
.eMap-list-panel-size1{
    /* max-height: 420px;*/
    /* position: absolute;
     left: 20px;
     right: 20px;
     bottom: 50px;
     top:275px;*/
    overflow-y: scroll;
}
.eMap-list-panel-size-xl{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 50px;
    top:105px;
    overflow-y: scroll;
}
.eMap-list-item{
    font-size: 18px!important;
    /*
    -webkit-box-shadow: 0 1px 1px #f8f8f8;
    -moz-box-shadow: 0 1px 1px #f8f8f8;
    box-shadow: 0 1px 1px #f8f8f8;*/
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-bottom: 1px solid #344a60;
    padding: 13px 8px 10px 5px;
    color: #d1d6da;
    cursor: pointer;
    line-height: 20px;
    height: 106px;
}
.eMap-list-item> div:nth-child(2){
    color: #03e3ed;
}
.eMap-list-item-icon{
    float: left;
    width: 15%;
    height: 50px;
    line-height: 42px;
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
}
.eMap-txt-width{
    width: 90px;
    display: inline-block;
}
.eMap-list-item:hover,
.eMap-list-item-cur{
    background-color: #2c3d4f;
}

/*行政区划中的单选按钮部分*/
.eMap-extend-form{
    line-height: 1;
    font-size: 14px;
    padding-left: 25px;
}
.eMap-extend-form>label{

    display: inline-block;
    width: 60px;
}

/*缓冲查询的查询条件部分*/
.box-default{
    display: inline-block;
    border: 1px solid #cccccc;
}
.box-default+.box-default{
    margin-left: 25px;
}

.link-block{
    color: #333;
    text-align: center;
    border-radius:0 ;
    border-width: 2px;
    border-color: transparent;
    padding-left: 7px;
    padding-right: 7px;
    min-width: 40px;
}
.link-block-cur,
.link-block:hover{
    border-color:#1997f5 ;
}
.link-block+.link-block{
    margin-left: -6px;
}
.eMap-form-inline{
    margin-bottom: 10px;
    margin-top: 0;
    zoom: 1;
    vertical-align: middle;
    line-height: 2;
}
.eMap-form-inline:after{
    content: '';
    display: block;
    height: 100%;
    clear: both;
    visibility: hidden;
}
.eMap-form-tit{
    font-size: 14px;
    line-height: 2;
    float: left;
    display: inline-block;
    width: 76px;
    text-align: right;
    padding: 0;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: red;
}
.eMap-form-con{
    border: 1px solid transparent;
    font-size: 14px;
    margin-left: 76px;
    border: 1px solid transparent;
    background: green
}

.imgMap-plot{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    background: url("../img/emap/plot.png") no-repeat 50% 50%;
}

.imgMap-plot-dot{
    background-position:0 4px ;
}
.imgMap-plot-pickUp{
    background-position:-30px 4px ;

}
.imgMap-plot-line{
    background-position:-60px 4px ;

}
.imgMap-plot-LL{
    background-position:-90px 4px ;

}
.bg-default{
    background-color:#eeeeee;
}
.bg-info{
    background-color:#f6f6f6
}
.imgMap-plot-blank{
    padding-top: 3px;
    padding-bottom: 3px;
}

/*面板中的select选项样式*/
.eMap-select-item{
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 5px;
}
.eMap-select-item+.eMap-select-item{
    border-top: 1px solid #ccc;
}

.eMap-select-item-tit{
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
}

.eMap-select-item-tit-status{
    display: inline-block;
    margin-right: 5px;
    margin-left: 3px;
    width:14px;
    height: 14px;
    line-height: 1;
    vertical-align: -2px;
    background-image: url("../img/emap/reckbox-bg.png");
    background-repeat:  no-repeat;
    cursor: pointer;
}
.eMap-select-item-tit-status-empty{
    background-position: 0 0;
}
.eMap-select-item-tit-status-half{
    background-position: -14px 0;
}
.eMap-select-item-tit-status-all{
    background-position: -28px 0;
}


.eMap-select-item-con{
    margin-left: 22px;
    margin-right: 10px;
    font-size: 12px;
}
.eMap-select-link a{
    display: inline-block;
    width: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.eMap-select-link a.selected,
.eMap-select-link a:hover{
    color: #209efa;
    border-color: #1997f5;
}

.eMap-icon-size{
    font-size: 20px;
    vertical-align: -4px;
}
/**eMap-extend.css 结束**/
/**eMap-plotting.css 开始**/
.eMap-plot-size{
    width: 360px;
    height: 560px;
}
.eMap-plot-position{
    position: absolute;
    top: 145px;
    right: 84px;
}
/*左侧选项卡CSS样式 starts*/
.eMap-plot-box{
    position: absolute;
    width: 42px;
    height: 100%;
    background-color: #93a0d3;
}
.eMap-plot-ul{
    position: absolute;
    right: -6px;
    top: 0;
    width: 100%;
    list-style: none;
    margin-top: 3px;
}
.eMap-plot-btn{
    width: 36px;
    height: 80px;
    text-align: center;
    color: #464f76;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(207, 213, 233);
    border-radius: 5px 0px 0px 5px;
}
.eMap-plot-ul>li+li{
    margin-top: 4px;
}
.eMap-plot-ul>li:nth-child(2){
    height: 94px;
}
.eMap-plot-btn-cur{
    background-color: #fff;
}
.eMap-plot-tit{
    display: inline-block;
    width: 15px;
    line-height: 16px;
    margin-top: 7px;
}
/*左侧选项卡CSS样式 ends*/

.eMap-plot-cons{
    display: none;
    margin-left: 42px;
}
.eMap-plot-cons-cur{
    display: block;
}
/*常用标绘选项卡内容CSS starts*/

.eMap-plot-com-th{
    width: 100%;
    height: 36px;
    box-sizing: border-box;
}
/*常用标绘选项卡内容CSS ends*/
.eMap-plot-com-th{
    height: 36px;
    width: 100%;
    line-height: 36px;
    font-size: 14px;
    color: #333333;
    background-color: #eeeeee;
}
.eMap-plot-com-th input{
    vertical-align: -2px;
    margin-left: 12px;
}
.btn-plot-size{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    transition: none;
}
.eMap-plotPic-ul{
    list-style: none;
    font-size: 0;
    margin-top: 3px;
    margin-left: 16px;
}
.eMap-plotborder{
    position: relative;
    float: left;
    width: 62px;
    height: 78px;
    font-size: 12px;
    text-align: center;
    color: #666666;
    margin-right: 8px;
    margin-top: 13px;
    border: 1px solid transparent;
}
.icon-txt{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 11px;
}
.eMap-mt1{
    margin-top: 20px;
}
.eMap-mt2{
    margin-top: 12px;
}
.eMap-plotborder:hover,.eMap-plotPic-ul>.eMap-plotborder-cur{
    color: #1997f5;
    border:1px solid  #1997f5;
}


/*常用标绘CSS样式结束*/

/*管理标绘CSS样式开始*/
.eMap-plot-m {
    width: 100%;
}
.eMap-plot-m-tit{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333333;
    padding-left: 15px;
    background-color: #e3ebfc;
}
.eMap-plot-m-tit [class^='iconMap-']{
    transition: transform  0.4s ease-out;
}
.eMap-plot-m>.eMap-plot-m-tit:hover{
    background-color: #e3ebfc;
}
.eMap-plot-m-tit:hover [class^='iconMap-']{
    transform: rotate(90deg);
}
.eMap-plot-m>p:last-of-type{
    margin-top: 3px;
}
.eMap-plot-m-tit-cur{
    background-color: #f6f6f6;
}
.eMap-plot-list-b{
    margin-bottom: 18px;
}
.eMap-plot-m-tit [class^='iconMap-']{
    font-size: 18px;
    color: #7d93c6;
    vertical-align: middle;
}
.eMap-plot-mf{
    float: right;
    margin-right: 12px;
    margin-top: 9px;
}
/*点击"管理标绘"进去后默认出现的列表样式开始*/
.plot-list-cur{
    /*display: none;*/
}
.eMap-plot-info{
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}
.eMap-plot-info-ul{
    width: 275px;
    margin: 0 auto;
    list-style: none;
}
.eMap-plot-info-ul>li:first-of-type{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #333333;
}
.eMap-plot-info-ul>li+li:hover{
    color:#2ca0f7;
    background-color: #f0f1fc;
}
.eMap-plot-info-item{
    height: 39px;
    line-height: 39px;
    font-size: 12px;
    color: #747373;
    border-bottom: 1px solid #dddddd;
}
.eMap-plot-item-ba{
    float: right;
    color: #333333;
}

.eMap-plot-item-ml{
    display: inline-block;
    width: 160px;
    margin-left: 8px;
}




/*点击"管理标绘"进去后默认出现的列表样式结束*/
.ph{
    display: none;
}

.eMap-plot-list{
    /*  margin-left: 18px;*/
    /*margin-right: 5px;*/
    /* padding-right: 13px;*/

}
.eMap-plot-list-h{
    max-height:420px;
    overflow-y: scroll;
}
.eMap-plot-list-p{
    max-height: 430px;
    overflow-y: scroll;
}
.eMap-plot-list-pi{
    max-height: 350px;
    /*overflow-y: scroll;*/
}
.eMap-plot-list{
    margin-left: 10px;
    /* margin-right: 5px;*/
    padding-right: 5px;
}
.eMap-plot-list-item{
    border: 1px solid transparent;
    border-bottom-color: #dddddd;
    padding: 11px 10px;
    line-height: 1;
    font-size: 14px;
    color: #767676;
    vertical-align: middle;
}
.eMap-plot-item{
    padding: 0;
    font-size: 12px;
    color: #747373;
    height: 38px;
    line-height: 38px;
}
.eMap-plot-list-item-icon{
    display: inline-block;
    font-size: 16px;
    line-height: 14px;
    vertical-align: -2px;
    margin-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/*.eMap-plot-list-item-pic{
	display: none;
}*/
.eMap-list-box-inp-blank{
    margin:10px 10px;
}
.eMap-list-box-inp{
    width: 272px;
    height: 27px;
    margin-top: 11px;
    margin-left: 20px;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.eMap-list-box-inp>input{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 7px;
    width: 240px;
    border: none;
    color: #999999;
    font-size: 14px;
}

.eMap-icon-p{
    font-size: 18px;
}
.eMap-icon-p [class^='iconMap-']{
    vertical-align: -2px;
}
.eMap-plot-list-item-pic a{
    color: #2499ee;
    font-size: 15px;
    margin-left: 2px;
    vertical-align: -2px;
}
.eMap-plot-list-p ul .eMap-plot-list-item .eMap-plot-inp{
    border: 1px solid #209efa;
}
.eMap-plot-list-item input[type='text']{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    max-width:163px;
    height: 30px;
    padding-left: 3px;
    line-height: 30px;
    color: #747373;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: default;
}
.eMap-plot-list-item input[type='text']:hover,
.eMap-plot-list-item input[type='text']:focus{
    cursor: default;
}
.eMap-plot-list-pi>ul .eMap-plot-item .eMap-plot-inp {
    border: 1px solid #209efa;
    cursor: auto;
}

.eMap-plot-list-item-opation{
    display: none;
    float: right;
    margin-right: 9px;
}
.eMap-plot-list-item-opation>a{
    display: inline-block;
    font-size: 14px;
    color: #2499ee;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: -3px;
}
.eMap-plot-list-item-opation>a:hover{
    color: #097cd1;
}
.eMap-plot-list-item:hover,
.eMap-plot-list-item-cur{
    background-color: #f0f1fc;
}
.eMap-plot-list-item-cur input[type='text']{
    cursor: text;
}
.eMap-plot-list-item:hover .eMap-plot-list-item-opation,
.eMap-plot-list-item-cur .eMap-plot-list-item-opation{
    display: inline-block;
}

.eMap-plot-list-sort .eMap-plot-list-item{
    border-style:dashed;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
}
.eMap-plot-list-sort .eMap-plot-list-item-cur{
    position: relative;
    cursor: pointer;
}
.eMap-plot-list-sort .eMap-plot-list-item-cur:before{
    position: absolute;
    content: '';
    margin-left: -10px;
    margin-top: -14px;
    margin-bottom: -14px;
    height: 46px;
    border-left: 7px solid #537de7;
}

.eMap-plot-list-sort .eMap-plot-list-item:hover .eMap-plot-list-item-opation,
.eMap-plot-list-sort .eMap-plot-list-item-opation{
    display: none;
}

.eMap-plot-item .eMap-plot-pic-ph{
    display: none;
}

.eMap-plot-pagePostion{
    left: 40px;
}
/**eMap-plotting.css 结束**/
/**self-defined-search.css 开始**/
.self-defined-size{
    width: 360px;
    height: 201px;
}
.self-defined-position{
    position: absolute;
    left: 15px;
    top: 85px;
}
.pl-ml{
    margin-right: 10px;
    font-size: 16px;
}
.self-defined-table > tbody > tr > th{
    text-align: right;
}
.self-defined-table > tbody > tr >td{
    padding-bottom: 5px;
    padding-top: 5px;
}
.self-defined-table select{
    width: 250px;
    height: 30px;
    border: 1px solid #CCCCCC;
}
.self-defined-table select:focus{
    outline: none;
}
.self-defined-table input{
    padding-left: 3px;
}
/*.box-default{
	width: 250px;
	height: 51px;
}
.link-block > .imgMap-plot-type{
	height: 39px;
}
.box-default > .link-box{
	min-width: 37px;
	margin-left: 1px;
}*/

.plot-box .link-block{
    padding-left: 1px;
    padding-right: 1px;
    vertical-align: middle;
}
.imgMa-hand-plot{
    display: block;
    width: 34px;
    height:32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    line-height: 1;
    background: url(../img/emap/freehand.png) no-repeat 50% 50%;
}
.imgMap-hand-plot1{
    background-position: 0 -1px ;
}
.imgMap-hand-plot2{
    background-position: -41px 0 ;
}
.imgMap-hand-plot3{
    background-position: -86px -0px ;
}
.imgMap-hand-plot4{
    background-position: -130px 0 ;
}
.imgMap-hand-plot5{
    background-position: -171px 0 ;
}
/**self-defined-search.css 结束**/
/*预警信息*/
#visualize-panel_EarlyWarning{
    min-width: 356px;
}
#visualize-panel_EarlyWarning .gs-gis-popup{
    width: 350px;
}
#visualize-panel_EarlyWarning #listResult{
    margin-top: 0px;
    min-height: 240px;
}
#visualize-panel_EarlyWarning #listResult>div:first-child{
    width: 100%;
}
#beginTimeDiv #beginTime,#endTimeDiv #endTime{
    width: 164px;
}
/*监测预警---天气情况---时间icon样式bug*/
#modelstartDate #startDate,#modelendDate #endDate{
    width: 185px;
}
#RealtimeMonitoringrmrainfalldateId_realtime{
    margin: 0 auto;
    width: 98%;
}
#RealtimeMonitoringrmrainfallstatisticsId__realtime>table>tbody>tr>td{
    text-align: center;
}
/*监测预警---预警信息---信息详情*/
#detail-popup-EarlyWarning-content .gis-window-con-description{
    padding: 5px;
    line-height: 18px;
    max-height: 50px;
    text-indent: 1em;
    overflow-y: auto;
    background-color: #eaf4fc;
}
/*综合分析---快速查询*/
#resourceSelect .gs-select-link a{
    margin-left: 1%;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#bufferLeft .filterTable tbody tr td{
    padding-left: 5px;
}
/*缓冲区查询样式调整*/
#resourceSelect .input-group .ipt-group-addon{
    margin-right: 0px;
}
/*周边查询弹框*/
.resetListBox-height > div:first-child{
    min-height: 430px;
}