/*一张图产品的导航*/
ul,li{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
}
.eMap-hd-right{
    float: right;
    padding-top:12px;
    padding-right: 12px;
}
.eMap-nav{
    float: left;
    padding-right: 20px;
}
.eMap-nav>li{
    float: left;
    color: #ced4ec;
}
.eMap-nav>li+li{
    margin-left: 5px;
}
.eMap-nav a{
    text-decoration: none;
    line-height: 1;
}
.eMap-nav-a:hover,
.eMap-nav-cur> .eMap-nav-a{
	color: #fff;
    border: 1px solid #b8bbe9;
    -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0 0 8px rgba(255,255,255,.3);
    box-shadow: inset 0 0 8px rgba(255,255,255,.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.eMap-nav>li:first-of-type a{
	padding: 10px 15px;;
}
.eMap-nav-a{
    display: block;
    font-size:18px;
    padding: 10px;
    color: #ced4ec;
    border: 1px solid transparent;
}
.eMap-nav-a [class^='iconMap-']{
    font-size: 24px;
    vertical-align: -5px;
}
.eMap-nav-a span.eMap-nav-arrow{
    font-size:12px;
    vertical-align:1px;
    line-height: 1;
}

.eMap-user{
    position: relative;
    width: 160px;
    float: right;
    border-left: 1px solid #878fad;
    margin-top:4px;
    padding-right:25px;
    padding-left: 10px;
    color: #ced4ec;
    text-align: right;
    font-size: 14px;
}
.eMap-user a{
    color: inherit;
}
.eMap-user >p{
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    margin: 0;

}
.eMap-user-arrow{
    display: inline-block;
    float: right;
    cursor: pointer;
    font-size: 10px;
    margin-right: -22px;
    width: 20px;
    margin-top:0px;
    padding: 12px 0;
    line-height: 1;
    vertical-align: -2px;
    transition: transform ease-in .1s;
}
.eMap-user-arrow:hover{
    transform:rotateX(180deg);
}
.eMap-layer{
    position: absolute;
    background-color: rgba(49,56,85,.9);

}
.eMap-user-layer{
    /*display: none;*/
    top:54px;
    right: 0;
    z-index: 4;
    width: 150px;
    height:81px;
}
.eMap-user-layer>a{
    display: block;
    width: 100%;
    height:40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.eMap-user-layer>a:hover,
.eMap-user-layer .eMap-user-cur{
    background-color: rgba(49,56,85,1);
}


.eMap-nav-hide{
    width: 172px;
    top:70px;
    z-index: 3;
}
.eMap-nav-hide>li{
    padding: 5px;
}


/*@media screen and (min-width: 1500px) {

    .eMap-nav  > li:first-of-type .eMap-nav-arrow {
        visibility: hidden;
        display: none;
    }
    .eMap-nav-hide{
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 1500px) {
    .eMap-nav  > li:not(:first-of-type) {
        display: none;
        visibility: hidden;
    }

}*/