.gis-panel{
    box-sizing: border-box;
    width: 906px;
    height: 365px;
    background:url("tankpng.png");
    background-size: 100% 100%;
    /*background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    border: 2px solid #444E6D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;*/
}
.gis-panel__title{
    box-sizing: border-box;
    width:100%;
    height: 43px;
    /*background-color: #444E6D ;*/
    line-height: 40px;
    position: relative;
    overflow: hidden;
}
.gis-panel__title_name{
    font-size: 24px;
    color: #11cfea;
    float: left;
    text-align: center;
    width: 162px;
    font-weight: 700;
    display: block !important;
}
.gis-panel__title_btns {
    float: right;
    margin-top: 17px;
}
.gis-panel__title_btns >a{
    font-size: 14px;
    color:#11cfea;
    margin-right: 10px;
}
.gis-panel__title_btns >a:hover,
.gis-panel__title_btns >a.active{
    color:#f00;
}
.gis-panel__title_btns >a:hover{
    cursor: pointer;
}
.gis-panel__content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px 5px 8px;
    margin-top: -45px;
}
.gis-pagination__total{
    color: #fff;
}
/*.gis-pagination {*/
    /*width: 95%;*/
    /*font-size: 12px;*/
    /*margin-left: 14px;*/
/*}*/
.pt-table{
    color: #fff;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 3px;
    font-weight: 900;
    /*height: 260px;*/
}
.riskListPanel-box{
    width: 906px;
    height: 365px;
    bottom: 10%;
    left: 38%;
    z-index: 15!important;
    position: absolute;
}
.riskTablePanel-search{
    color: #fff;
    position: absolute;
    top: 9%;
    left: 4%;
    width: 80%;
    z-index: 16;
}
.riskListPanel-box .gis-pagination__box{
    position: absolute;
    bottom: 1%;
    width: 906px;
}
#riskListPanel tbody tr{
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}
#riskListPanel tbody tr:nth-child(odd){
background: rgba(1,35,62,.6);
}
/*.pt-table tbody tr:nth-child(odd){*/
    /*background: rgba(1,35,62,.6);*/
/*}*/
#riskListPanel tbody tr:hover{
    background: url("wuzibg.png") no-repeat;
}
.pt-table thead{
    color: #fff;
}
#riskListPanel thead tr{
    height: 35px;
    line-height: 35px;
}

#riskListPanel tbody{
    text-align: center;
}
.text-nowrap{
    white-space: nowrap;
    overflow: hidden;
    /*width: 120px;*/
    display: inline-block;
    text-overflow: ellipsis;
}