*{
	margin: 0;
	padding: 0;
}

.aj-gisTabPanel-containerBox{
	position: absolute;
    left: 4px;
    right: 5px;
    height: 38px;
    bottom: 5px;
}
.aj-gisTabContainer-container{
	width: 100%;
	font-size: 20px;
}
.aj-gisTabContainer-container > dl {
	list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    vertical-align: top;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#2e87d5, endColorStr=#0c477b); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #2e87d5, #0c477b);        /* IE 10 */
	background:-moz-linear-gradient(top, #2e87d5, #0c477b);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e87d5), to(#0c477b));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #2e87d5, #0c477b);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #2e87d5, #0c477b);  /*Opera 11.10+*/
	linear-gradient(to bottom,#2e87d5, #0c477b); /* Standard syntax; must be last */
	-webkit-box-shadow: inset 1px 0px 0px rgba(255,255,255,.5),0 -3px 11px 0px  rgba(0,52,111,.7);
	-moz-box-shadow: inset 1px 0px 0px rgba(255,255,255,.5),0 -3px 11px 0px rgba(0,52,111,.7);
	box-shadow: inset 1px 0px 0px rgba(255,255,255,.5),0 -3px 11px 0px rgba(0,52,111,.7);
}
.aj-gisTabContainer-container > dl > dd{
	display: inline-block;
    width: calc(100%/3);
    font-size: 21px;
    vertical-align: middle;
    border-right: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(0,0,0,.2);
	color: #fff;
	cursor: default;


}
.aj-gisTabContainer-container > dl > dd.hover{
/*	background-color: rgba(0,0,0,.2);*/
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#67d8ff, endColorStr=#04a3e1); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #67d8ff, #04a3e1);        /* IE 10 */
	background:-moz-linear-gradient(top, #67d8ff, #04a3e1);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#67d8ff), to(#04a3e1));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #67d8ff, #04a3e1);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #67d8ff, #04a3e1);  /*Opera 11.10+*/
	linear-gradient(to bottom,#67d8ff, #04a3e1); /* Standard syntax; must be last */
	color: #fff;
	cursor:pointer;
}
.aj-gisTabContainer-container > dl > dd.leave{
	color: #fff;
	cursor:default;
}

.aj-gisTabContainer-container > dl > dd:first-child{
	border-left: none;
    border-bottom-left-radius: 8px;
}
.aj-gisTabContainer-container > dl > dd:last-child{
    border-right: none;
    border-bottom-right-radius: 8px;
}
.aj-gisTabContainer-item{
	position: relative;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.aj-gisTabContainer-item p{
	margin: 0;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aj-gisTabContainer-item span.aj-gisTabContainer-itemName{
	display: inline-block;
	height: 38px;
	line-height: 38px;
	width: 100%;
}
/*.aj-gisTabContainer-container > dl > dd:hover,*/
.aj-gisTabContainer-container > dl > dd.aj-gisTabContainer-itemActive{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#67d8ff, endColorStr=#04a3e1); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #67d8ff, #04a3e1);        /* IE 10 */
	background:-moz-linear-gradient(top, #67d8ff, #04a3e1);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#67d8ff), to(#04a3e1));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #67d8ff, #04a3e1);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #67d8ff, #04a3e1);  /*Opera 11.10+*/
	linear-gradient(to bottom,#67d8ff, #04a3e1); /* Standard syntax; must be last */
	color: #fff;
}

.mini-button-cur .aj-gisTabContainer-container > dl{

	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#1faa0f, endColorStr=#0c4705); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #1faa0f, #0c4705);        /* IE 10 */
	background:-moz-linear-gradient(top, #1faa0f, #0c4705);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1faa0f), to(#0c4705));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #1faa0f, #0c4705);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #1faa0f, #0c4705);  /*Opera 11.10+*/
linear-gradient(to bottom,#1faa0f, #0c4705); /* Standard syntax; must be last */
	-webkit-box-shadow: inset 1px 0px 0px rgba(255,255,255,.38),0 -3px 11px 0px  rgba(14,77,0,.7);
	-moz-box-shadow: inset 1px 0px 0px rgba(255,255,255,.38),0 -3px 11px 0px rgba(14,77,0,.7);
	box-shadow: inset 1px 0px 0px rgba(255,255,255,.38),0 -3px 11px 0px rgba(14,77,0,.7);

}

.mini-button-cur .aj-gisTabContainer-container > dl > dd.aj-gisTabContainer-itemActive,
.mini-button-cur .aj-gisTabContainer-container > dl > dd.hover{
	/*	background-color: rgba(0,0,0,.2);*/
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#45ee32, endColorStr=#127507); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #45ee32, #127507);        /* IE 10 */
	background:-moz-linear-gradient(top, #45ee32, #127507);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#45ee32), to(#127507));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #45ee32, #127507);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #45ee32, #127507);  /*Opera 11.10+*/
linear-gradient(to bottom,#45ee32, #127507); /* Standard syntax; must be last */
}