.panel-EventMessageModule{
    width: 540px;
    height: 670px;
    background-position: left -18px;
    background-size: 100% 102%;
    /*top:350px;*/
    left:-40px;
}
.panel-EventMessageModule .modulePanel-title{
    margin-top: 12px;
}
.EventMessage-cont{
    height: 480px;
}
.EventMessage-content{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5px;
}
.EventMessage-content-left{
    position: absolute;
    width: 2px;
    height: 85.5%;
    background: url(../img/messageLine.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 2.2%;
    margin-top: 5%;
}
.EventMessage-content-right{
    width: 100%;
    height: 96%;
    margin-top: 34%;
    overflow-y: auto;
}
.EventMessage-content-right li{
    margin-bottom: 3%;
}
.EventMessage-content-right-dian{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../img/locationdianbg.png");
    background-size: 100% 100%;
}
.EventMessage-content-right-locationdian{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../img/locationdian.png");
    background-size: 100% 100%;
}
.EventMessage-content-right-location{
    display: inline-block;
    width: 145px;
    height: 42px;
    background: url("../img/locationbg.png");
    background-size: 100% 100%;
    color: #e5f4ff;
    font-size: 28px;
    line-height: 42px;
    padding-left: 5px;
}
.EventMessage-content-right-locationbg{
    display: inline-block;
    width: 145px;
    height: 42px;
    background: url("../img/jubg.png");
    background-size: 100% 100%;
    color: #e5f4ff;
    font-size: 28px;
    line-height: 42px;
    padding-left: 5px;
}
.EventMessage-content-right-oTime{
    color: #52728c;
    font-size: 27px;
}
.EventMessage-content-right-content{
    color: #e5f4ff;
    font-size: 28px;
    /*padding-left: 5%;*/
    line-height: 44px;
    padding-left: 30px;
    margin-top: 8px;
}
.EventMessage-content-locationData{
    position: absolute;
    width: 460px;
    cursor: pointer;
    height: 142px;
    top: 10%;
    background: url("../img/titlebgpng.png");
    background-size: 100% 100%;
}
.EventMessage-content-locationData .EventMessage-content-right-oTime{
    color: yellow;
}
.EventMessage-content-locationData  .EventMessage-content-right-locationbg{
    color: yellow;
}
.EventMessage-content-locationData .EventMessage-content-right-content{
    color: yellow;
    padding-left: 30px;
}
.EventMessage-content-locationData .EventMessage-content-right-locationdian{
    margin-left: -1%;
}
.EventMessage-tabActive{
    width: 240px;
    height: 31px;
    text-align: center;
    display: flex;
    position: absolute;
    left: 53%;
    top: 5%;
    display: none;
}
.EventMessage-tabActive span{
    flex: 1;
    color: #00e4ff;
    font-size: 22px;
    width: 80px;
    height: 31px;
    background: url("../img/tabbg.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.EventMessage-tabActive span:nth-child(2){
    margin-left: -6%;
    margin-right: -6%;
}
.sanjiaobg{
    /*display: inline-block;*/
    /*width: 15px;*/
    /*height: 8px;*/
    /*background: url("../img/sanjiaobg.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    /*margin-left: 5%;*/
    /*vertical-align: middle;*/
}
.EventMessage-tabActive-content{
    position: absolute;
    left: 50%;
    top: 12%;
    width: 120px;
    height: 150px;
    background-size: 100% 100%;
    background: rgba(0,33,74,0.7);
    border-radius: 3px;
    border: 1px solid rgba(0,227,255,0.49);
    overflow-y: scroll;
    margin-top: 31px;
    display: none;
}

.EventMessage_eventListCont{
    position: absolute;
    top: 68px;
    overflow: auto;
    height: 600px;
    padding-left: 20px;
    display: none;
}
.EventMessage_eventListCont_cont{
    height: calc(100% - 50px);
    overflow: auto;
}
.EventMessage_eventListCont_cont li{
    margin: 16px 0;
    border-bottom: 1px solid rgba(0,228,255,.5);
}
.EventMessage_eventListCont_cont li p{
    margin-bottom: 6px;
}
.EventMessage_eventListCont_click{
    position: absolute;
    right: 168px;
    color: #fff;
    font-size: 24px;
    top: 38px;
    cursor: pointer;
    border: 1px solid #00e4ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.EventMessage_eventListCont_gisPagination{
    margin-top: 12px;
}
/*点位弹框箭头*/
.popup-content-yujing .popup-detail-div ul{
    position: relative;
}
.message_jiantou{
    position: absolute;
    width: 7px;
    height: 45px;
    border-right: 5px dashed #ff0000;
    bottom: -12px;
    right: 94px;
}