html{
    width: 100%;
    height: 100%;
}
/*登录页 背景图片及 banner*/
.system-bg {
    width: 100%;
    height: 100%;
    background: url("../img/login1.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.system-bg-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}
.system-header{
    margin-bottom: 100px;
}
.system-header span {
    display: table-cell;
}

.system-header > .header-text {
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
}

.system-bg-container .header-logo {
    background: url(../img/login-logo.png) no-repeat center;
    background-size: cover;
    width: 88px;
    height: 100px;
}

.login-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 42px 22px 29px;
    color: #fff; 
    border-radius: 4px;

}

.login-container-pos {
    width: 400px;
    height: 400px;
    margin-top: -128px;
}

.login-form > .system-input {
    width:100%;
    height: 40px;
    line-height: 40px;
    color: #333;
    border-color: rgba(255, 255, 255, .5);
    padding-left: 43px;
    font-size: 20px;
    box-sizing: border-box;
    border:none;
    outline: none;
    border-radius:3px;
}

.login-form > .system-input:focus {

    -webkit-box-shadow: 0 0 4px 4px rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 0 4px 4px rgba(255, 255, 255, .1);
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, .1);
}

.login-form > .system-btn {
    width: 360px;
    height: 40px;
    line-height: 24px;
    font-size: 26px;
    border-radius: 4px;
    background-color: #08355d;
    cursor: pointer;
    margin-top: 30px;
    border:none;
    outline: none;
    color: #fff;
}

.login-form {
    position: relative;
    margin: 40px 0;
}

.login-form .user-icon {
    background: url(../img/user.png) no-repeat center;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 6px;
}

.login-form .pwd-icon {
    background: url(../img/pwd.png) no-repeat center;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 6px;
}
