@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
    font-style:normal;
    font-family: "Microsoft Yahei" , "Arial","Simsun";
    line-height: 1.42857143;
    color: #333;
}
ul,li{list-style: none;}
a, a:link {
    color: #333;
    text-decoration: none;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.rending_div {
    position: absolute;
    background: url('../newimg/rightBG.png') no-repeat;
    background-size: 100% 100%;
    width: 21%;
    height: 56%;
    margin-bottom: 15px;
    right: 140px;
    top:17%;
    padding:35px 10px;
}
#loadingnewoverlay {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.img_loadding {
    width: 5%;
    z-index: 999999;
    position: absolute;
    top: 28%;
    left: 40%;
    height: 5%;
}


#mixColorPanel .eMap-panel--bg {
      height:320px;
      background-size: 100% 100%;
  }

#mixColorPanel.emap-PlotManagerCtrl-alertBox ul li > div:first-child {
    width: 22%;
}

#mixColorPanel.emap-PlotManagerCtrl-alertBox ul li > div:last-child {
    width: 76%;
}