
#map{
    width:100%;
    height: 100%;
}
/* ts-gis */
.ol-unselectable .ol-scale-line-inner{
    width: 117px;
    position: fixed;
    bottom: 6px;
    color:#dfdfdf ;
    border: 1px solid #eee;
    border-top: none;
    background: rgba(0,60,136,.5);
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
    left: 20px;
}
/*ts-gis*/
.ol-zoom.ol-unselectable.ol-control{
    position: absolute;
    top: 300px;
    right: 20px;
    left: inherit;
}
/*缩放按钮*/
.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: #454d74 !important;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: #fdfdfd !important;
    /*background-color: rgb(0,0,0);*/
    border: none;
    border-radius: 2px;
}
.ol-zoom {
    background:  #fff !important;
}

/**容器**/
.gs-container-topleft {
    position: absolute;
    top: 30px;
    left: 20px;
    pointer-events: auto;
}

.gs-container-topright {
    position: absolute;
    top: 30px;
    right: 20px;
    pointer-events: auto;
}

.gs-container-bottomleft {
    position: absolute;
    bottom: 35%;
    left: 20px;
    pointer-events: auto;
}

.gs-container-bottomright {
    position: absolute;
    bottom: 1%;
    right: 20px;
    pointer-events: auto;
}
.gs-container-drift {
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

gs-container-subdrift {
    position: absolute;
    pointer-events: auto;
}
.Corners {
    position: absolute;
    pointer-events: none;
}