.industrialEnterprise_view{
    height: 700px;
    display: inline-block;
    background: url(../img/new_da_bg.png) no-repeat;
    background-size: auto 100%;
    position: relative;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);
}
.close_industrialEnterprise_view{
    width: 83px;
    height: 79px;
    position: absolute;
    right: 12px;
    top: -19px;
    cursor: pointer;
    background: url(../img/close.png) no-repeat;
    background-size: 161% 156%;
}
.industrialEnterprise_view_contView{
    display: flex;
    padding-top: 12px;
    padding-left: 16px;
}

.industrial_basic_left_title{
    font-size: 26px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
}

.industrialEnterprise_view_information{
    width: 772px;
    padding-left: 16px;
    margin-bottom:5%;
}
/*.baidu_Corporate_portrait{
    width: 789px;
    height: 644px;
}*/
.industrialEnterprise_title_view{
    height: 52px;
    line-height: 52px;
    color: #76faff;
    font-size: 22px;
    padding-left: 42px;
    margin-top: 8px;
}
.industrial_basic{
    width: 100%;
    height: 162px;
    display: flex;
    display: none;
}
.industrial_basic_left{
    width: 445px;
}
.industrial_basic_left .enterprise_basic_left_title{
    font-size: 26px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 8px;
}
.industrial_basic_left ul{

}
.industrial_basic_left ul li{
    line-height: 34px;
    color: #fff;
}
.industrial_basic_left ul li span{
    line-height: 20px;
    color: #fff;
}
.industrial_basic_left ul li b{
    line-height: 20px;
    color: #fff;
}
.industrial_basic_right{
    display: flex;
}
.industrial_basic_right p:nth-of-type(1){
    color: #fff;
    height: 95px;
    line-height: 95px;
    margin-top: 30px;
}
.industrial_basic_right .industrial_basic_right_02{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_01.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
}
.industrial_basic_right .industrial_basic_right_03{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_02.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
    display: none;
}
.industrial_basic_right .industrial_basic_right_04{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_03.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
    display: none;
}
.industrial_basic_right .industrial_basic_right_05{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_04.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
    display: none;
}
.industrial_basic_right .industrial_basic_right_06{
    color: #fff;
    width: 95px;
    height: 95px;
    background: url("../img/icon_05.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-left: 18px;
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: 600;
    display: none;
}
.industrial_phone{
    display: none;
}
.industrial_phone h3{
    height: 40px;
    line-height: 40px;
    background: url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 14px;
}
.industrial_phone_cont{
    display: flex;
}
.industrial_phone_left{
    width: 354px;
    height: 85px;
    background: url("../img/cont_bg.png");
    background-size: 100% 100%;
}
.industrial_phone_left p{
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
    color: #fff;
    padding-left: 24px;
}
.industrial_phone_left p:nth-of-type(2){
    color: #3febff;
    font-size: 16px;
    margin-top: 10px;
}
.industrial_phone_left p:nth-of-type(2) b{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/icon_phone.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
}
.industrial_phone_right{
    width: 354px;
    height: 85px;
    background: url("../img/cont_bg.png");
    background-size: 100% 100%;
}
.industrial_phone_right p{
    height: 20px;
    line-height: 20px;
    margin-top: 17px;
    color: #fff;
    padding-left: 24px;
}
.industrial_phone_right p:nth-of-type(2){
    color: #3febff;
    font-size: 16px;
    margin-top: 10px;
}
.industrial_phone_right p:nth-of-type(2) b{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/icon_phone.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
}
.industrial_produce h3{
    height: 40px;
    line-height: 40px;
    background: url("../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 26px;
}
.industrial_produce h4{
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 22px;
}
.industrial_produce .produce_list1{
    line-height: 34px;
    color: #fff;
    font-size: 20px;
}
.industrial_produce .produce_list2{
    height: 20px;
    line-height: 20px;
    color: #fff;
}
.industrial_produce .produce_list3{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-top: 16px;
}
.industrial_produce ul{
    width: 98%;
}
.industrial_produce ul li{
    height: 40px;
    line-height: 40px;
    border: 1px solid #0184a5;
    border-top: none;
    display: flex;
    font-size:20px;
}
.industrial_produce ul li:nth-child(2)>span{
    color: #fff;
    margin-left: 10px;
}
.industrial_produce ul li:nth-child(2)>i{
    color: #00e4ff;
    padding-left: 10px;
}
.industrial_produce ul li:nth-of-type(1){
    border-top: 1px solid #0184a5;
}
.industrial_produce ul li label{
    width: 50%;
    color: #00e4ff;
    padding-left: 10px;
    display: flex;
    font-size: 20px;
    line-height: 37px;
}
.industrial_produce ul li label span{
    color: #fff;
    margin-left: 10px;
}
.industrial_produce ul li label:nth-of-type(2){
    border-left: 1px solid #0184a5;
}
