@font-face {
  font-family: 'iconMap';
  src:  url('fonts/iconMap.eot?eqger4');
  src:  url('fonts/iconMap.eot?eqger4#iefix') format('embedded-opentype'),
    url('fonts/iconMap.ttf?eqger4') format('truetype'),
    url('fonts/iconMap.woff?eqger4') format('woff'),
    url('fonts/iconMap.svg?eqger4#iconMap') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconMap-"], [class*=" iconMap-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconMap' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconMap-close:before {
  content: "\e91e";
}
.iconMap-dataVisualization:before {
  content: "\e915";
}
.iconMap-search:before {
  content: "\e924";
}
.iconMap-pullLeft2:before {
  content: "\e925";
}
.iconMap-emergencyDisposal:before {
  content: "\e91c";
}
.iconMap-dataCollection:before {
  content: "\e914";
}
.iconMap-serviceManagement:before {
  content: "\e909";
}
.iconMap-thematicPavilion:before {
  content: "\e922";
}
.iconMap-trangleSouth:before {
  content: "\e91b";
}
.iconMap-pullSouth:before {
  content: "\e91a";
}
.iconMap-measure:before {
  content: "\e906";
}
.iconMap-plotting:before {
  content: "\e905";
}
.iconMap-layerManager:before {
  content: "\e919";
}
.iconMap-thematicCharting:before {
  content: "\e923";
}
.iconMap-printscreen:before {
  content: "\e907";
}
.iconMap-pathPlanning:before {
  content: "\e90c";
}
.iconMap-clear:before {
  content: "\e90e";
}
.iconMap-fullScreen:before {
  content: "\e910";
}
.iconMap-toolbox:before {
  content: "\e90a";
}
.iconMap-rangeMeasurement:before {
  content: "\e90b";
}
.iconMap-planimetering:before {
  content: "\e90d";
}
.iconMap-add:before {
  content: "\e902";
}
.iconMap-minus:before {
  content: "\e901";
}
.iconMap-pullLeft:before {
  content: "\e917";
}
.iconMap-pullWest:before {
  content: "\e925";
}
.iconMap-TeamEquipment:before {
  content: "\e908";
}
.iconMap-specialist:before {
  content: "\e900";
}
.iconMap-dangerousSource:before {
  content: "\e918";
}
.iconMap-keyLine:before {
  content: "\e921";
}
.iconMap-keyArea:before {
  content: "\e920";
}
.iconMap-channelInfo:before {
  content: "\e90f";
}
.iconMap-peopleHeat:before {
  content: "\e911";
}
.iconMap-weather:before {
  content: "\e916";
}
.iconMap-realTimeMonitor:before {
  content: "\e912";
}
.iconMap-GPS:before {
  content: "\e903";
}
.iconMap-warnInfo:before {
  content: "\e91f";
}
.iconMap-videoMonitor:before {
  content: "\e913";
}
.iconMap-eagle:before {
  content: "\e904";
}
.iconMap-pullRight:before {
  content: "\e91d";
}

