.QH-navBtn{
    z-index:3;
    background: url("img/navbg.png") no-repeat  center bottom;
    width: 1026px;
    height: 128px;
    display: none;
}
.QH-navBtn li{
    font-size: 28px;
    width: 200px;
    height: 70px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.QH-navBtn li:nth-child(1){
    left: 177px;
    top: 62px;
}
.QH-navBtn li:nth-child(2){
    left: 357px;
    top: 55px;
}
.QH-navBtn li:nth-child(3){
    left: 543px;
    top: 55px;
}
.QH-navBtn li:nth-child(4){
    left: 729px;
    top: 61px;
}
.QH-navBtn li:first-child{
    background: url("./img/nav1.png") no-repeat;
}
.QH-navBtn li:nth-child(2){
    background: url("./img/nav2.png") no-repeat;
}
.QH-navBtn li:nth-child(3){
    background: url("./img/nav3.png") no-repeat;
}
.QH-navBtn li:nth-child(4){
    background: url("./img/nav4.png") no-repeat;
}
.QH-navBtn li:hover{
    cursor: pointer;
}
.QH-navBtn li:nth-of-type(1).curMenuNav,
.QH-navBtn li:nth-of-type(1):hover{
    background-image: url("./img/nav1act.png");
}
.QH-navBtn li:nth-of-type(2).curMenuNav,
.QH-navBtn li:nth-of-type(2):hover{
    background-image: url("./img/nav2act.png");
}
.QH-navBtn li:nth-of-type(3).curMenuNav,
.QH-navBtn li:nth-of-type(3):hover{
    background-image: url("./img/nav3act.png");
}
.QH-navBtn li:nth-of-type(4).curMenuNav,
.QH-navBtn li:nth-of-type(4):hover{
    background-image: url("./img/nav4act.png");
}


.dot{
    position: absolute;
    display: inline-block;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow:  0px 0px 10px #ffcc00;
    -moz-box-shadow:  0px 0px 10px #ffcc00;
    box-shadow:  0px 0px 10px #ffcc00;
    -webkit-animation: dotMove 2.5s infinite;
    -o-animation: dotMove 2.5s infinite;
    animation: dotMove 2.5s infinite;
}
.dot:nth-of-type(1){
    right:3px;
    top:3px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.dot:nth-of-type(2){
    right: 15px;
    top:10px;
}
.dot:nth-of-type(3){
    right: 0px;
    top: 16px;
    width: 3px;
    height:3px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.dot:nth-of-type(4){
    right: -1px;
    top: 8px;
    width: 3px;
    height:3px;
}
.dot:nth-of-type(5){
    right: 2px;
    top: 12px;
    width: 3px;
    height:3px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.dot:nth-of-type(6){
    right: 33px;
    top: 8px;
    width: 3px;
    height:3px;
}
.dot:nth-of-type(7){
    right: 27px;
    top: 18px;
    width: 3px;
    height:3px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.dot:nth-of-type(8){
    right: 65px;
    top: 15px;
    width: 3px;
    height:3px;
}
.dot:nth-of-type(9){
    right: 54px;
    top: 3px;
    width: 3px;
    height:3px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.dot:nth-of-type(10){
    right: 94px;
    top:10px;
    width: 3px;
    height:3px;
}
@keyframes dotMove {
    0%{
        -webkit-transform: rotate(360deg) scale(1);
        -moz-transform: rotate(360deg) scale(1);
        -ms-transform:rotate(360deg) scale(1);
        -o-transform:rotate(360deg) scale(1);
        transform:  rotate(360deg) scale(1);
        opacity: 1;
    }
    50%{

        -webkit-transform:rotate(0deg) scale(.5);
        -moz-transform: rotate(0deg) scale(.5);
        -ms-transform:rotate(0deg) scale(.5);
        -o-transform: rotate(0deg) scale(.5);
        transform:  rotate(0deg) scale(.5);
        opacity: 0;
    }
    100%{
        -webkit-transform: rotate(360deg) scale(1);
        -moz-transform: rotate(360deg) scale(1);
        -ms-transform:rotate(360deg) scale(1);
        -o-transform:rotate(360deg) scale(1);
        transform:  rotate(360deg) scale(1);
        opacity: 1;
    }
}
.YJ-navHover{
    width: 1026px;
    z-index:4;
    position: relative;
    margin-left:177px;
}
.YJ-navHover p{
    position: absolute;
    width:200px;
    top:-35px;
    display: none;
}
.YJ-navHover p:nth-child(1){
    /*left:-5px;*/
    /*transform: rotate(-4deg);*/
    /*top: -27px;*/

    left: 1055px;
    top: 63px;
}
.YJ-navHover p:nth-child(2){
    /*left:188px;*/
    left: 1055px;
    top: 63px;
}
.YJ-navHover p:nth-child(3){
    /*left:377px;*/
    /*transform: rotate(2deg);*/
    left: 1055px;
    top: 63px;
}
.YJ-navHover p:nth-child(4){
    /*left:560px;*/
    /*transform: rotate(5deg);*/
    /*top: -27px;*/
    left: 1055px;
    top: 63px;
}
.YJ-navHover p span{
    display: inline-block;
    position: relative;
}
.right_tab1{
    width:70px;
    height:70px;
    background:url(img/tab1.png) no-repeat;
    background-size: 100% 100%;
}
.right_tab1:hover{
    display: inline-block;
    width:70px;
    height:70px;
    cursor: pointer;
    background:url(img/tab1hover.png) no-repeat;
    background-size: 100% 100%;
}
.right_tab1.tabactive{
    display: inline-block;
    width:70px;
    height:70px;
    background:url(img/tab1hover.png) no-repeat;
    background-size: 100% 100%;
}
.right_tab2{
    width:70px;
    height:70px;
    background:url(img/tab2.png) no-repeat;
    margin-left:-6px;
    background-size: 100% 100%;
}
.right_tab2:hover{
    display: inline-block;
    width:70px;
    height:70px;
    cursor: pointer;
    background:url(img/tab2hover.png) no-repeat;
    background-size: 100% 100%;
}
.right_tab2.tabactive{
    display: inline-block;
    width:70px;
    height:70px;
    background:url(img/tab2hover.png) no-repeat;
    background-size: 100% 100%;
}
.YJ-navHover p span i{
    color: #fff;
    position: absolute;
    top: -15px;
    left: 0px;
    font-size: 16px;
    width: 100%;
}
/*.YJ-navHover p span i em{*/
    /*color: #000;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: -4px;*/
    /*font-size: 17px;*/
/*}*/


.YJ-navHover p span i{
    display: none;
}
.YJ-navHover p span:hover i{
    display: block;
}
.YJ-navHover p span.tabactive i{
    display: block;
}