.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfloat{
    zoom: 1;
}
.yjzh-disasterSituation-container{
    width: 100%;
}
.yjzh-disasterSituation-detailList{
    width: 100%;
}
.yjzh-disasterSituation-detailList h3{
    color: #fff;
    font-size: 28px;
    width: 100%;
    height: 35px;
    line-height: 48px;
    /* background: url(../img/titleBg.png) no-repeat 4px; */
    background-size: contain;
    text-indent: 120px;
    font-weight: normal;
    cursor: move;
}
.yjzh-disasterSituation-detailList > ul{
    width: calc(100% - 10px);
    margin: 10px auto 0 auto;
    max-height: 525px;
    height: 500px;
}
.yjzh-disasterSituation-detailList > ul > li{
    margin: 15px;
    font-size: 20px;
    color: #fff;
}
.yjzh-disasterSituation-detailList > ul > li > span:first-child{
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: rgba(0,0,0,.8);
}
.yjzh-disasterSituation-detailList > ul > li > span img{
    width: 16px;
    height: 16px;
}
.yjzh-disasterSituation-detailList > ul > li > span b{
    padding: 0 6px;
    margin: 0 5px;
    font-size: 24px;
    color: #3aceff;
    /*border-bottom: 1px solid #3aceff;*/
    cursor: pointer;
}
.yjzh-disasterSituation-detailList > ul > li > span [data-flag='false']{
    border-bottom: none;
    pointer-events: none;
}
.yjzh-disasterSituation-detailList > ul > li > span b.curNumSpanSelect{
    color: #00ffff;
    box-shadow: #00ffff 0 0 20px;
    border-bottom: none;
}
/*按钮样式*/
.yjzh-disasterSituation-buttonlList{
    width: 100%;
    height: 40px;
    line-height: 45px;
}
.yjzh-disasterSituation-buttonlList > span{
    margin-right:5px;
    display: inline-block;
    width: 75px;
    height: 28px;
    line-height: 28px;
    background: url("../img/buttonBg.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    cursor: pointer;
}
.yjzh-disasterSituation-buttonlList [data-flag='false']{
    pointer-events: none;
}
.yjzh-disasterSituation-buttonlList > span.buttonSpanSelect{
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: url("../img/buttonSelectBg.png") no-repeat;
}
.yjzh-disasterSituation-buttonlList > span img{
    margin-right: 3px;
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.yjzh-disasterSituation-buttonlList > span b{
    font-weight: normal;
}
/*列表样式*/
.yjzh-disasterSituation-tableList{
    padding-left: 10px;
    width: 375px;
    border-top:1px solid rgba(0,255,255,0.5);
    max-height: 400px;
}
.yjzh-disasterSituation-tableList > ul > li{
    margin-top: 5px;
   /* width: 100%;*/
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.yjzh-disasterSituation-tableList > ul > li:hover{
    background: url('../img/tableList-bg.png') no-repeat;
    background-size: 100% 100%;
}
.yjzh-disasterSituation-tableList > ul > li.tableLiSelect{
    background: url('../img/tableList-bg.png') no-repeat;
    background-size: 100% 100%;
}
/*.yjzh-disasterSituation-tableList > ul > li.tableLiSelect > span{*/
    /*padding: 6px;*/
    /*background: url('../img/tableList-bg.png') no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.yjzh-disasterSituation-tableList > ul > li > span:hover{*/
    /*padding: 6px;*/
    /*background: url('../img/tableList-bg.png') no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
.yjzh-disasterSituation-tableList span.disasterSituation-littleSquare{
    display: inline-block;
    margin-right: 6px;
    width: 7px;
    height: 7px;
    background: #00ffff;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 5px;
}
.yjzh-disasterSituation-tableList span.disasterSituation-nameSpan{
    border-bottom: 1px solid #fff;
}
.yjzh-disasterSituation-detailList span.yjzh-disasterSituation-slideContainer{
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    padding: 0px 10px;
}
.yjzh-disasterSituation-detailList span.yjzh-disasterSituation-slideContainer:hover{
    background: url('../img/tableList-bg.png') no-repeat;
    background-size: 100% 100%;
}
/*.yjzh-disasterSituation-detailList span.yjzh-disasterSituation-slideContainer.slideDown{*/
    /*background: url('../img/tableList-bg.png') no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/

.list_icons_creat{
    position: relative;
    padding-left: 10px;
}
/*.list_icons_creat .disasterSituation-littleSquare{*/
    /*position: absolute;*/
    /**/
/*}*/