/*listDialog   css*/
.listDialog{
    top: 77px;
    right: 28px;
    height: 974px;
    width: 1012px;
    color: #fff;
    z-index: 99999;
    background: url(../../resources/theme/src/img/team_bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 40px 45px;
    position: absolute;
}
.list_title{
    font-size: 30px;
    padding-left: 10px;
    cursor: move;
    height:80px;
    line-height: 80px;
}
.list_search{
    display: flex;
    margin-bottom:20px;
}
.list_search input{
    -webkit-appearance: none;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.8);
    background-image: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-size: inherit;
    height: 39px;
    line-height: 39px;
    outline: none;
    padding: 0 2px;
    width:50%;
    margin-right:20px;
}
.list_search button{
    height: 39px;
    line-height: 43px;
    width:100px;
    border:none;
    background:rgba(0,227,255,0.6);
    color:#fff;
    border-radius: 3px;
    font-size:22px;
}
.list_head{
    background: url(../../resources/theme/src/img/team_th.png) no-repeat;
    background-size: 100% 100%;
    font-weight: 600;
    width: calc(100% - 8px);
    padding: 4px 20px;
    font-size: 26px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}
.list_head li{
    text-align: left;
}
.list_head ol li:first-child{}
.list_body{
    overflow: auto;
    height: 78%;
}

.list_body ul{
    display: flex;
    padding: 4px 20px;
    font-size: 26px;
    cursor: pointer;
}
.list_body ul li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.close-list-dialog{
    color: #fff;
    background: url(../../resources/theme/src/img/team_close.png) no-repeat;
    background-size: 100% 100%;
    height: 140px;
    width: 180px;
    top: -13px;
    right: -15px;
    position: absolute;
}
.close-list-dialog:hover{
    cursor: pointer;
}