.gis-list {
    width: 100%;
    max-height: 300px;
    padding: 0px;
    overflow-y: auto;
}
li.gis-list__item {
    margin-top: 3px;
    height: 55px;
    line-height: 55px;
}
li.gis-list__item span{
    display: inline-block;
    float: left;
    margin: 0 3px;
    padding: 0 6px;
    margin-top: 16px;
    /*background-color: #1398b9;*/
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    height: 26px;
    line-height: 25px;
    text-align: center;
}
li.gis-list__item span.yjgl-circleColor{
    margin-left: 15px;
    margin-top: 23px;
    padding: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px #000;
    border-radius: 50%;
}
li.gis-list__item [data-color='red']{
    border: 1px solid #ff0000;
    background-color: #ff0000;
}
li.gis-list__item [data-color='blue']{
    border: 1px solid #00ffff;
    background-color: #00ffff;
}
li.gis-list__item span.yjgl-titleName{
    display: inline-block;
    width: 180px;
    font-size: 20px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li.gis-list__item span.curSpanSelect{
    background-color: #ce8519;
}
li.gis-list__item.curLiSelect{
    background: url("liHover.png");
    background-size: cover;
}
li.gis-list__item [data-flag='false']{
    background-color: #ccc;
    pointer-events: none;
}
/*  两列分栏 Tpl2 样式*/
.gis-listTpl2-item__col1{
    float: left;
    width: 18%;
    text-align: center;
}
.gis-listTpl2-item__col1>img{
    width: 100%;
    vertical-align: middle;
}
.gis-listTpl2-item__col2{
    margin-left: 20%;
    width: 80%;
}
.gis-listTpl2-item__col2-row{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}